.div134 {
  position: absolute;
  top: 4052px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div135,
.frame-child18 {
  position: relative;
}
.frame-child18 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div138,
.parent18 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent18 {
  top: 4308px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div138 {
  top: 4363px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance15 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon5 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent3 {
  position: absolute;
  top: 4097px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.productrequestlist-child {
  position: absolute;
  top: 4202px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official5,
.kakaotalk5 {
  position: absolute;
  top: 4199px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk5 {
  top: 4249px;
  left: 892px;
}
.group-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child31 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.ellipse-parent5,
.talk5 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent5 {
  top: 4246px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance16 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.instance-child5 {
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  width: 35px;
  height: 40px;
}
.b97,
.div139 {
  position: absolute;
  top: 20.83%;
  left: 45px;
  line-height: 42px;
}
.div139 {
  left: 268px;
  font-weight: 500;
  text-align: left;
}
.right-24px-icon16 {
  position: absolute;
  height: 40.28%;
  top: 31.94%;
  bottom: 27.78%;
  left: 158px;
  max-height: 100%;
  width: 30px;
  object-fit: contain;
}
.b98,
.b99,
.group-parent3 {
  position: absolute;
  left: 200px;
}
.group-parent3 {
  top: 309px;
  border-radius: 49px;
  background-color: #fff;
  border: 4px solid #2f2be0;
  box-sizing: border-box;
  width: 1520px;
  height: 72px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
}
.b98,
.b99 {
  top: 206px;
  font-size: 50px;
  line-height: 55px;
}
.b99 {
  top: 477px;
  left: 258px;
  font-size: 44px;
  line-height: 48.4px;
}
.home5 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon15,
.right-16px-icon16 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.right-16px-icon16 {
  display: none;
}
.detail11,
.pricing5 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail11 {
  width: 56px;
  display: none;
}
.pricing5 {
  color: #2787f5;
}
.list5 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs5,
.home-icon5 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs5 {
  top: 238px;
  left: 523px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.productrequestlist-inner,
.productrequestlist-item {
  position: absolute;
  top: 827.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.productrequestlist-inner {
  top: 1219.5px;
}
.group-child32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #2787f5;
  width: 48px;
  height: 48px;
}
.b100 {
  position: absolute;
  top: 12px;
  left: 19px;
  line-height: 22.4px;
}
.rectangle-parent11 {
  width: 48px;
  position: relative;
  height: 48px;
  color: #fff;
}
.group-child33 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.rectangle-parent12 {
  width: 48px;
  position: relative;
  height: 48px;
}
.pagination1 {
  position: absolute;
  top: 3940px;
  left: 880px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: center;
  font-size: 16px;
  color: #bdbdbd;
}
.span33 {
  color: #000;
  white-space: pre-wrap;
}
.div140 {
  position: absolute;
  top: 498px;
  left: 454px;
  line-height: 28px;
  color: #2f2be0;
}
.instance-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.div141 {
  position: absolute;
  top: 20px;
  right: 32px;
  line-height: 28px;
  font-weight: 500;
  color: #fe3636;
}
.favorite-border-black-24dp-1-icon10 {
  position: absolute;
  top: 24px;
  right: 71px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div142 {
  position: absolute;
  width: calc(100% - 96px);
  top: 140px;
  left: 40px;
  font-size: 16px;
  line-height: 22.4px;
  color: #787878;
  text-align: justify;
  display: inline-block;
}
.span34 {
  color: #3a59ff;
}
.b103,
.div143 {
  width: calc(100% - 183px);
  left: 40px;
  display: inline-block;
}
.div143 {
  position: absolute;
  top: 96px;
  line-height: 28px;
  font-weight: 500;
}
.b103 {
  top: 61px;
  font-size: 24px;
  line-height: 26.4px;
  color: #ff5454;
}
.b103,
.b104,
.parent19 {
  position: absolute;
}
.b104 {
  width: calc(100% - 183px);
  top: 20px;
  left: 40px;
  font-size: 30px;
  line-height: 33px;
  display: inline-block;
}
.parent19 {
  top: 0;
  left: 0;
  width: 935px;
  height: 259px;
  overflow: hidden;
}
.rectangle-parent14 {
  position: absolute;
  top: 899px;
  left: 245px;
  width: 1427px;
  height: 305px;
}
.productrequestlist-child1,
.productrequestlist-child2,
.productrequestlist-child3 {
  position: absolute;
  top: 1556.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.productrequestlist-child2,
.productrequestlist-child3 {
  top: 2904.5px;
}
.productrequestlist-child3 {
  top: 2230.5px;
}
.productrequestlist-child4,
.productrequestlist-child5,
.productrequestlist-child6,
.productrequestlist-child7 {
  position: absolute;
  top: 3578.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.productrequestlist-child5,
.productrequestlist-child6,
.productrequestlist-child7 {
  top: 1893.5px;
}
.productrequestlist-child6,
.productrequestlist-child7 {
  top: 3241.5px;
}
.productrequestlist-child7 {
  top: 2567.5px;
}
.rectangle-parent15,
.rectangle-parent16 {
  position: absolute;
  top: 1236px;
  left: 245px;
  width: 1427px;
  height: 305px;
}
.rectangle-parent16 {
  top: 2584px;
}
.rectangle-parent17,
.rectangle-parent18,
.rectangle-parent19 {
  position: absolute;
  top: 1910px;
  left: 245px;
  width: 1427px;
  height: 305px;
}
.rectangle-parent18,
.rectangle-parent19 {
  top: 3258px;
}
.rectangle-parent19 {
  top: 1573px;
}
.rectangle-parent20,
.rectangle-parent21,
.rectangle-parent22 {
  position: absolute;
  top: 2921px;
  left: 245px;
  width: 1427px;
  height: 305px;
}
.rectangle-parent21,
.rectangle-parent22 {
  top: 2247px;
}
.rectangle-parent22 {
  top: 3595px;
}
.div168 {
  position: relative;
  line-height: 22.4px;
}
.frame-child20 {
  width: 15px;
  position: relative;
  height: 10px;
}
.parent28 {
  position: absolute;
  top: 491px;
  left: 1544px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #2787f5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 12px;
  gap: 0 12px;
  text-align: center;
  font-size: 16px;
}
.b121,
.b122 {
  width: calc(100% - 242px);
}
.b121 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  line-height: 33px;
  display: inline-block;
}
.b122 {
  top: 61px;
  font-size: 24px;
  line-height: 26.4px;
  color: #ff5454;
}
.b122,
.div169,
.div170 {
  position: absolute;
  left: 20px;
  display: inline-block;
}
.div169 {
  width: calc(100% - 242px);
  top: 96px;
  line-height: 28px;
  font-weight: 500;
}
.div170 {
  width: calc(100% - 40px);
  top: 140px;
  font-size: 16px;
  line-height: 22.4px;
  color: #787878;
  text-align: justify;
}
.favorite-border-black-24dp-1-icon19 {
  position: absolute;
  top: 24px;
  right: 59px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div171 {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #fe3636;
}
.parent29 {
  position: absolute;
  top: 562px;
  left: calc(50% - 454px);
  background-color: #fff;
  width: 1154px;
  height: 250px;
  overflow: hidden;
}
.productrequestlist-child8,
.productrequestlist-child9 {
  position: absolute;
  top: 562px;
  left: 1680px;
  background-color: #d9d9d9;
  width: 160px;
  height: 600px;
}
.productrequestlist-child9 {
  top: 563px;
  left: 260px;
  width: 222px;
  height: 574px;
}
.group-child35,
.productrequestlist-child10 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child35 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b123 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent23 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon20 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b124 {
  position: relative;
  line-height: 33px;
}
.frame-child21 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent30 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.productrequestlist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
