.div305 {
  position: absolute;
  top: 1934px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div306,
.frame-child47 {
  position: relative;
}
.frame-child47 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div309,
.parent64 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent64 {
  top: 2190px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div309 {
  top: 2245px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance37 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon12 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent10 {
  position: absolute;
  top: 1979px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.productsearch-child {
  position: absolute;
  top: 2084px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official12,
.kakaotalk12 {
  position: absolute;
  top: 2081px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk12 {
  top: 2131px;
  left: 892px;
}
.group-child63 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child64 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk12 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent12 {
  position: absolute;
  top: 2128px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance38 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
  text-align: left;
}
.instance-child31 {
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  width: 35px;
  height: 40px;
  cursor: pointer;
}
.b215,
.div310 {
  position: absolute;
  top: 20.83%;
  left: 45px;
  line-height: 42px;
}
.div310 {
  left: 268px;
  font-weight: 500;
  text-align: left;
}
.right-24px-icon25 {
  position: absolute;
  height: 40.28%;
  top: 31.94%;
  bottom: 27.78%;
  left: 158px;
  max-height: 100%;
  width: 30px;
  object-fit: contain;
}
.b216,
.b217,
.group-parent5 {
  position: absolute;
  left: 200px;
}
.group-parent5 {
  top: 309px;
  border-radius: 49px;
  background-color: #fff;
  border: 4px solid #2f2be0;
  box-sizing: border-box;
  width: 1520px;
  height: 72px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
}
.b216,
.b217 {
  top: 206px;
  font-size: 50px;
  line-height: 55px;
  text-align: left;
}
.b217 {
  top: 477px;
  left: 258px;
  font-size: 44px;
  line-height: 48.4px;
}
.product-box-w-image-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.div311 {
  top: 82.38%;
  left: 53.42%;
  color: #787878;
}
.b218,
.div311,
.div312,
.div313 {
  position: absolute;
  line-height: 22.4px;
}
.div312 {
  top: 82.38%;
  left: 67.77%;
  color: #787878;
}
.b218,
.div313 {
  top: 52.46%;
  left: 74.17%;
}
.div313 {
  top: 22.13%;
  left: 43.71%;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
}
.science {
  top: 39.34%;
  left: 43.71%;
  line-height: 22.4px;
}
.b219,
.div314,
.science {
  position: absolute;
}
.div314 {
  top: 4.92%;
  left: 88.52%;
  line-height: 22.4px;
  font-weight: 500;
  color: #ff5454;
}
.b219 {
  top: 11.48%;
  left: 43.71%;
  line-height: 17.6px;
}
.product-box-w-image-item {
  position: absolute;
  height: 80.33%;
  width: 30.46%;
  top: 9.84%;
  right: 61.59%;
  bottom: 9.84%;
  left: 7.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.star-black-24dp-1-icon19,
.star-black-24dp-2-icon19,
.star-black-24dp-3-icon19 {
  position: absolute;
  height: 9.84%;
  width: 5.3%;
  top: 52.05%;
  right: 50.99%;
  bottom: 38.11%;
  left: 43.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.star-black-24dp-1-icon19,
.star-black-24dp-3-icon19 {
  right: 45.25%;
  left: 49.45%;
}
.star-black-24dp-1-icon19 {
  right: 39.51%;
  left: 55.19%;
  object-fit: cover;
}
.favorite-border-black-24dp-1-icon34,
.vector-icon40,
.vector-icon41 {
  position: absolute;
  height: 7.79%;
  width: 4.42%;
  top: 52.87%;
  right: 34.22%;
  bottom: 39.34%;
  left: 61.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.favorite-border-black-24dp-1-icon34,
.vector-icon41 {
  right: 28.48%;
  left: 67.11%;
}
.favorite-border-black-24dp-1-icon34 {
  height: 9.84%;
  width: 5.3%;
  top: 5.33%;
  right: 12.36%;
  bottom: 84.84%;
  left: 82.34%;
}
.product-box-w-image,
.product-box-w-image1 {
  position: absolute;
  top: 554px;
  left: 249px;
  width: 453px;
  height: 244px;
}
.product-box-w-image1 {
  top: 1090px;
}
.product-box-w-image2,
.product-box-w-image3,
.product-box-w-image4 {
  position: absolute;
  top: 822px;
  left: 249px;
  width: 453px;
  height: 244px;
}
.product-box-w-image3,
.product-box-w-image4 {
  top: 1358px;
}
.product-box-w-image4 {
  top: 1626px;
}
.product-box-w-image5,
.product-box-w-image6 {
  position: absolute;
  top: 554px;
  left: 734px;
  width: 453px;
  height: 244px;
}
.product-box-w-image6 {
  top: 1090px;
}
.product-box-w-image7,
.product-box-w-image8,
.product-box-w-image9 {
  position: absolute;
  top: 822px;
  left: 734px;
  width: 453px;
  height: 244px;
}
.product-box-w-image8,
.product-box-w-image9 {
  top: 1358px;
}
.product-box-w-image9 {
  top: 1626px;
}
.product-box-w-image10,
.product-box-w-image11 {
  position: absolute;
  top: 554px;
  left: 1219px;
  width: 453px;
  height: 244px;
}
.product-box-w-image11 {
  top: 1090px;
}
.product-box-w-image12,
.product-box-w-image13,
.product-box-w-image14 {
  position: absolute;
  top: 822px;
  left: 1219px;
  width: 453px;
  height: 244px;
}
.product-box-w-image13,
.product-box-w-image14 {
  top: 1358px;
}
.product-box-w-image14 {
  top: 1626px;
}
.home12 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon36 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail24,
.right-16px-icon37 {
  position: relative;
  display: none;
}
.detail24 {
  width: 66px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon37 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail25,
.pricing12 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail25 {
  width: 56px;
  display: none;
}
.pricing12 {
  color: #2787f5;
}
.list12 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs12,
.home-icon12 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs12 {
  top: 238px;
  left: 523px;
  width: 286px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  color: #828282;
}
.group-child65,
.productsearch-item {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child65 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b248 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent40 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
}
.icon37 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b249 {
  position: relative;
  line-height: 33px;
}
.frame-child49 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent65 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.productsearch {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: justify;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
