.div255 {
  position: absolute;
  top: 1874px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div256,
.frame-child35 {
  position: relative;
}
.frame-child35 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div259,
.parent46 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent46 {
  top: 2130px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div259 {
  top: 2185px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance27 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon9 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent7 {
  position: absolute;
  top: 1919px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.productrequestmodify-child {
  position: absolute;
  top: 2024px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official9,
.kakaotalk9 {
  position: absolute;
  top: 2021px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk9 {
  top: 2071px;
  left: 892px;
}
.group-child54 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child55 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.ellipse-parent9,
.talk9 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent9 {
  top: 2068px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance28 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b171,
.b172 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.b172 {
  top: 317px;
  left: 873px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  text-align: center;
  width: 174px;
}
.home9 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon27,
.right-16px-icon28 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.right-16px-icon28 {
  display: none;
}
.detail19,
.pricing9 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail19 {
  width: 56px;
  display: none;
}
.pricing9 {
  color: #2787f5;
}
.list9 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs9,
.home-icon9 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs9 {
  top: 238px;
  left: 615px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b173 {
  position: absolute;
  top: 745px;
  left: 872px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  text-align: center;
  width: 176px;
}
.span65 {
  color: #000;
}
.div260 {
  position: absolute;
  top: 856px;
  left: 850px;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  width: 220px;
  color: red;
}
.productrequestmodify-item {
  position: absolute;
  top: 696.5px;
  left: 254.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1418px;
  height: 1px;
}
.icon26,
.right-24px-icon20 {
  position: absolute;
  width: 24px;
}
.right-24px-icon20 {
  top: calc(50% - 11.5px);
  right: 24px;
  height: 23px;
  object-fit: contain;
}
.icon26 {
  top: 16px;
  left: 272px;
  background-color: #c4c4c4;
  height: 24px;
  display: none;
}
.dropdown27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: inline-block;
}
.placeholder49 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: 24px;
  width: 233px;
  height: 23px;
}
.form45 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
}
.dropdown26,
.dropdown28,
.dropdown30 {
  position: absolute;
  top: 452px;
  left: 831px;
  width: 320px;
  height: 55px;
  color: #333;
}
.dropdown28,
.dropdown30 {
  top: 523px;
}
.dropdown30 {
  top: 594px;
}
.div261,
.div262 {
  position: absolute;
  top: 382px;
  left: 761px;
  font-size: 27px;
  line-height: 37.8px;
  text-align: center;
}
.div262 {
  top: 810px;
  left: 745px;
}
.placeholder52 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 158px;
  height: 23px;
}
.box4,
.checkboc-unchecked4 {
  position: absolute;
  height: 24px;
}
.box4 {
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 2px solid #dbecfe;
  box-sizing: border-box;
  width: 24px;
}
.checkboc-unchecked4 {
  top: 610px;
  left: 1187px;
  width: 117px;
  color: #4f4f4f;
}
.div263,
.div264,
.div265 {
  position: absolute;
  top: 463px;
  left: 770px;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
}
.div264,
.div265 {
  top: 534px;
}
.div265 {
  top: 605px;
}
.form48,
.placeholder53 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 276px;
  height: 23px;
}
.form48 {
  width: 100%;
  top: 31px;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
}
.span66 {
  color: #ff5454;
}
.label-sample22 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26.4px;
}
.input-label42 {
  position: absolute;
  top: -8px;
  left: 0;
  width: 87px;
  height: 23px;
  font-size: 24px;
  color: #000;
}
.input-label41,
.input-label43 {
  position: absolute;
  top: 911px;
  left: 600px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.input-label43 {
  top: 1029px;
}
.input-text20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
}
.input-label45 {
  position: absolute;
  top: 911px;
  left: 1000px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.b174,
.form51 {
  position: absolute;
  left: 52.08%;
}
.b174 {
  top: 94.54%;
  font-size: 24px;
  line-height: 26.4px;
}
.form51 {
  width: 16.67%;
  top: 1060px;
  right: 31.25%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
  color: #333;
}
.checkboc-unchecked5 {
  position: absolute;
  top: 1652px;
  left: 1152px;
  width: 117px;
  height: 24px;
  color: #4f4f4f;
}
.b175,
.form52 {
  position: absolute;
  left: 41.67%;
}
.b175 {
  top: 147.5%;
  font-size: 24px;
  line-height: 26.4px;
}
.form52 {
  width: 16.67%;
  top: 1636px;
  right: 41.67%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
  color: #333;
}
.button-sample4 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 45.5px);
  line-height: 22.4px;
}
.normal-button4 {
  position: absolute;
  top: 1755px;
  left: 823px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 275px;
  height: 55px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.p14 {
  margin-block-start: 0;
  margin-block-end: 22.4px;
}
.p15 {
  margin: 0;
}
.placeholder59 {
  position: absolute;
  width: calc(100% - 62px);
  top: 16px;
  right: 38px;
  left: 24px;
  height: 23px;
}
.form53 {
  position: absolute;
  width: 100%;
  top: 29.3px;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 268px;
  overflow: hidden;
}
.text-area4 {
  position: absolute;
  top: 1272px;
  left: 600px;
  width: 720px;
  height: 297px;
  color: #bdbdbd;
}
.b176,
.input-label47 {
  position: absolute;
  left: 31.25%;
  font-size: 24px;
}
.input-label47 {
  height: 2.13%;
  width: 4.69%;
  top: 117.22%;
  right: 64.06%;
  bottom: -19.35%;
}
.b176 {
  top: 105.46%;
  line-height: 26.4px;
}
.group-child56,
.productrequestmodify-inner {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child56 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b177 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent37 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
}
.icon31 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b178 {
  position: relative;
  line-height: 33px;
}
.frame-child37 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent47 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.productrequestmodify {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
