.div210 {
  position: absolute;
  top: 2606px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div211,
.frame-child27 {
  position: relative;
}
.frame-child27 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div214,
.parent33 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent33 {
  top: 2862px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div214 {
  top: 2917px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance21 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon7 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent5 {
  position: absolute;
  top: 2651px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.productrequestview-child {
  position: absolute;
  top: 2756px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official7,
.kakaotalk7 {
  position: absolute;
  top: 2753px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk7 {
  top: 2803px;
  left: 892px;
}
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child40 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.ellipse-parent7,
.talk7 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent7 {
  top: 2800px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance22 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b142 {
  position: absolute;
  top: 317px;
  left: 258px;
  font-size: 44px;
  line-height: 48.4px;
}
.b143 {
  top: 986px;
  left: 290px;
  font-size: 40px;
  line-height: 44px;
}
.b143,
.b144,
.b145 {
  position: absolute;
}
.b144 {
  top: 1378px;
  left: 290px;
  font-size: 40px;
  line-height: 44px;
}
.b145 {
  top: 0;
  left: 0;
  line-height: 55px;
}
.home7 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon21,
.right-16px-icon22 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.right-16px-icon22 {
  display: none;
}
.detail15,
.pricing7 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail15 {
  width: 56px;
  display: none;
}
.pricing7 {
  color: #2787f5;
}
.list7 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs7,
.home-icon7 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs7 {
  top: 32px;
  left: 415px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.parent34 {
  position: absolute;
  top: 206px;
  left: 200px;
  width: 701px;
  height: 55px;
  font-size: 50px;
}
.productrequestview-item {
  position: absolute;
  top: 458px;
  left: 456px;
  border-radius: 10px;
  background-color: #dbecfe;
  width: 1008px;
  height: 406px;
}
.b146 {
  position: absolute;
  top: 406px;
  left: 480px;
  font-size: 32px;
  line-height: 35.2px;
}
.div215 {
  position: relative;
  line-height: 33.6px;
  font-weight: 500;
}
.parent35 {
  top: 408px;
  left: 629px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 12px;
  font-size: 24px;
  color: #2f2be0;
}
.div219,
.parent35,
.unist1 {
  position: absolute;
}
.div219 {
  top: 0;
  left: 0;
  line-height: 42px;
  font-weight: 500;
}
.unist1 {
  top: 2px;
  left: 182px;
  font-size: 27px;
  line-height: 37.8px;
}
.parent36,
.parent37 {
  position: absolute;
  top: 490px;
  left: 488px;
  width: 453px;
  height: 42px;
}
.parent37 {
  top: 540px;
  width: 468px;
}
.parent38,
.parent39,
.parent40,
.parent41,
.parent42 {
  position: absolute;
  top: 590px;
  left: 488px;
  width: 332px;
  height: 42px;
}
.parent39,
.parent40,
.parent41,
.parent42 {
  top: 640px;
  width: 325px;
}
.parent40,
.parent41,
.parent42 {
  top: 690px;
  width: 253px;
}
.parent41,
.parent42 {
  top: 740px;
  width: 304px;
}
.parent42 {
  top: 790px;
  width: 229px;
}
.favorite-border-black-24dp-1-icon30 {
  position: absolute;
  top: 480px;
  right: 520px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div229 {
  position: absolute;
  top: 476px;
  right: 481px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #fe3636;
}
.p10 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
}
.p11 {
  margin: 0;
}
.div230 {
  position: absolute;
  top: 1046px;
  left: 290px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 1340px;
}
.productrequestview-child1,
.productrequestview-child2,
.productrequestview-inner {
  position: absolute;
  top: 1329.5px;
  left: 289.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1341px;
  height: 1px;
}
.productrequestview-child1,
.productrequestview-child2 {
  top: 1801.5px;
}
.productrequestview-child2 {
  top: 2179.5px;
}
.b147,
.b148 {
  position: absolute;
}
.b147 {
  top: 314px;
  left: 806px;
  font-size: 50px;
  line-height: 55px;
  color: #ff5454;
}
.b148 {
  top: calc(50% - 12px);
  left: calc(50% - 37px);
  line-height: 22.4px;
}
.small-button1 {
  position: absolute;
  top: 321px;
  left: 1251px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 124px;
  height: 48px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.b149,
.b150 {
  position: absolute;
  width: calc(100% - 523px);
  top: 20px;
  left: 209px;
  font-size: 24px;
  line-height: 26.4px;
  display: inline-block;
  text-align: left;
}
.b150 {
  top: 55px;
  color: #ff5454;
}
.span54 {
  color: #3a59ff;
}
.div231 {
  position: absolute;
  width: calc(100% - 564px);
  top: 90px;
  left: 209px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.div232,
.div233,
.div234 {
  position: absolute;
  top: 95px;
  right: 174px;
  line-height: 22.4px;
  color: #787878;
}
.div233,
.div234 {
  right: 32px;
}
.div234 {
  top: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #fe3636;
  text-align: left;
}
.group-child41 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #dbecfe;
  width: 157px;
}
.div235 {
  position: absolute;
  width: calc(100% - 233px);
  bottom: 42px;
  left: 209px;
  line-height: 22.4px;
  color: #787878;
  display: inline-block;
}
.image-fill10,
.no-image9 {
  position: absolute;
  top: calc(50% - 12px);
}
.no-image9 {
  left: 86px;
  line-height: 22.4px;
  color: #2787f5;
}
.image-fill10 {
  left: 58px;
  width: 24px;
  height: 24px;
}
.vector-icon34,
.vector-icon35 {
  position: absolute;
  top: 62px;
  right: 69px;
  width: 20px;
  height: 19px;
}
.vector-icon35 {
  right: 95px;
}
.star-black-24dp-1-icon16 {
  position: absolute;
  top: 60px;
  right: 119px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.star-black-24dp-2-icon16,
.star-black-24dp-3-icon16 {
  position: absolute;
  top: 60px;
  right: 145px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.star-black-24dp-2-icon16 {
  right: 171px;
}
.b151 {
  position: absolute;
  top: 61px;
  right: 32px;
  line-height: 22.4px;
}
.favorite-border-black-24dp-1-icon31 {
  position: absolute;
  top: 24px;
  right: 71px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.component-242 {
  position: absolute;
  top: 1440px;
  left: 290px;
  width: 1340px;
  height: 346px;
  text-align: justify;
  font-size: 16px;
}
.component-25-inner {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: 32px;
  width: 157px;
}
.component-25,
.component-26 {
  position: absolute;
  top: 1818px;
  left: 290px;
  width: 1340px;
  height: 346px;
  text-align: justify;
  font-size: 16px;
}
.component-26 {
  top: 2196px;
}
.group-child44,
.productrequestview-child3 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child44 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b158 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent35 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon22 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b159 {
  position: relative;
  line-height: 33px;
}
.frame-child29 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent43 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
}
.productrequestview {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-family: "Noto Sans KR";
}
