.div123 {
  position: absolute;
  top: 2497px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div124,
.frame-child14 {
  position: relative;
}
.frame-child14 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div127,
.parent16 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent16 {
  top: 2753px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div127 {
  top: 2808px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance12 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon4 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent2 {
  position: absolute;
  top: 2542px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.productmodify-child {
  position: absolute;
  top: 2647px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official4,
.kakaotalk4 {
  position: absolute;
  top: 2644px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk4 {
  top: 2694px;
  left: 892px;
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child28 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.ellipse-parent4,
.talk4 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent4 {
  top: 2691px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance13 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b86,
.b87 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.b87 {
  top: 317px;
  left: 873px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  text-align: center;
  width: 174px;
}
.home4 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon12 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail8,
.right-16px-icon13 {
  position: relative;
  display: none;
}
.detail8 {
  width: 66px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon13 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail9,
.pricing4 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail9 {
  width: 56px;
  display: none;
}
.pricing4 {
  color: #2787f5;
}
.list4 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs4,
.home-icon4 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs4 {
  top: 238px;
  left: 523px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b88 {
  position: absolute;
  top: 745px;
  left: 872px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  text-align: center;
  width: 176px;
}
.span25 {
  color: #000;
}
.div128 {
  position: absolute;
  top: 856px;
  left: 850px;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  width: 220px;
  color: red;
}
.productmodify-item {
  position: absolute;
  top: 696.5px;
  left: 254.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1418px;
  height: 1px;
}
.icon14,
.right-24px-icon11 {
  position: absolute;
  width: 24px;
}
.right-24px-icon11 {
  top: calc(50% - 11.5px);
  right: 24px;
  height: 23px;
  object-fit: contain;
}
.icon14 {
  top: 16px;
  left: 272px;
  background-color: #c4c4c4;
  height: 24px;
  display: none;
}
.dropdown17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: inline-block;
}
.placeholder25 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: 24px;
  width: 233px;
  height: 23px;
}
.form22 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
}
.dropdown16,
.dropdown18,
.dropdown20 {
  position: absolute;
  top: 452px;
  left: 831px;
  width: 320px;
  height: 55px;
  color: #333;
}
.dropdown18,
.dropdown20 {
  top: 523px;
}
.dropdown20 {
  top: 594px;
}
.div129,
.div130 {
  position: absolute;
  top: 382px;
  left: 637px;
  font-size: 27px;
  line-height: 37.8px;
  text-align: center;
}
.div130 {
  top: 810px;
  left: 773px;
}
.placeholder28 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 158px;
  height: 23px;
}
.box3,
.checkboc-unchecked3 {
  position: absolute;
  height: 24px;
}
.box3 {
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 2px solid #dbecfe;
  box-sizing: border-box;
  width: 24px;
}
.checkboc-unchecked3 {
  top: 610px;
  left: 1187px;
  width: 117px;
  color: #4f4f4f;
}
.div131,
.div132,
.div133 {
  position: absolute;
  top: 463px;
  left: 770px;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
}
.div132,
.div133 {
  top: 534px;
}
.div133 {
  top: 605px;
}
.form25,
.placeholder29 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 276px;
  height: 23px;
}
.form25 {
  width: 100%;
  top: 31px;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
}
.span26 {
  color: #ff5454;
}
.label-sample10 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26.4px;
}
.input-label19 {
  position: absolute;
  top: -8px;
  left: 0;
  width: 87px;
  height: 23px;
  font-size: 24px;
  color: #000;
}
.input-label18,
.input-label20 {
  position: absolute;
  top: 911px;
  left: 600px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.input-label20 {
  top: 1029px;
}
.input-text10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
}
.input-label22,
.input-label24 {
  position: absolute;
  top: 911px;
  left: 1000px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.input-label24 {
  top: 1029px;
}
.b89,
.form29 {
  position: absolute;
  left: 52.08%;
}
.b89 {
  top: 106.2%;
  font-size: 24px;
  line-height: 26.4px;
}
.form29 {
  width: 16.67%;
  top: 1186px;
  right: 31.25%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
  color: #333;
}
.button-sample2 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 45.5px);
  line-height: 22.4px;
}
.normal-button2 {
  position: absolute;
  top: 2378px;
  left: 823px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 275px;
  height: 55px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.p8 {
  margin-block-start: 0;
  margin-block-end: 22.4px;
}
.p9 {
  margin: 0;
}
.placeholder34 {
  position: absolute;
  width: calc(100% - 62px);
  top: 16px;
  right: 38px;
  left: 24px;
  height: 23px;
}
.form30 {
  position: absolute;
  width: 100%;
  top: 29.3px;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 268px;
  overflow: hidden;
}
.text-area2 {
  position: absolute;
  top: 1278.7px;
  left: 600px;
  width: 720px;
  height: 297px;
  color: #bdbdbd;
}
.input-label26 {
  position: absolute;
  height: 2.13%;
  width: 4.69%;
  top: 117.87%;
  right: 64.06%;
  bottom: -20%;
  left: 31.25%;
  font-size: 24px;
}
.b90 {
  top: 106.2%;
  font-size: 24px;
  line-height: 26.4px;
}
.b90,
.b91,
.form31 {
  position: absolute;
  left: 31.25%;
}
.b91 {
  top: 160.56%;
  font-size: 24px;
  line-height: 26.4px;
}
.form31 {
  width: 16.67%;
  top: 1186px;
  right: 52.08%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
  color: #333;
}
.input-label27 {
  position: absolute;
  top: 1615.7px;
  left: 800px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.b92 {
  position: absolute;
  top: 1660.7px;
  left: 1132px;
  font-size: 20px;
  line-height: 28px;
}
.upload-file3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 17.6px;
  display: inline-block;
}
.placeholder37 {
  position: absolute;
  width: calc(100% - 48px);
  top: calc(50% - 11.5px);
  right: 24px;
  left: 24px;
  height: 23px;
}
.form33 {
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow: hidden;
}
.background2,
.form33 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.placeholder38 {
  position: absolute;
  width: calc(100% - 48px);
  top: calc(50% - 11.5px);
  right: 24px;
  left: 24px;
  height: 23px;
  display: none;
}
.form34 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px dashed #092441;
  box-sizing: border-box;
  overflow: hidden;
}
.drag-drop-area1 {
  position: absolute;
  height: calc(100% - 150px);
  width: calc(100% - 48px);
  top: 55px;
  right: 24px;
  bottom: 95px;
  left: 24px;
  color: #092c4c;
  font-family: Inter;
}
.upload-now1 {
  position: absolute;
  top: 16px;
  left: calc(50% - 38px);
  line-height: 22.4px;
  display: none;
}
.button-full-width-default1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #2787f5;
  height: 55px;
  overflow: hidden;
}
.group-icon {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 54px);
  width: 15px;
  height: 14px;
}
.b93 {
  position: absolute;
  bottom: 16px;
  left: calc(50% - 24px);
  line-height: 22.4px;
  color: #f8fbff;
}
.button-full-width-default-group {
  position: absolute;
  width: calc(100% - 48px);
  right: 24px;
  bottom: 24px;
  left: 24px;
  height: 55px;
  text-align: center;
  color: #fff;
}
.samplepng {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22.4px;
}
.file,
.image-fill9,
.input-label29 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 27.5px);
  width: 87px;
  height: 23px;
}
.file,
.image-fill9 {
  left: calc(50% - 59.5px);
  width: 24px;
  height: 24px;
}
.file {
  left: calc(50% - 71.5px);
  width: 119px;
}
.badge-error-icon,
.file-parent {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% + 55.5px);
  width: 16px;
  height: 16px;
}
.file-parent {
  top: calc(50% - 31.5px);
  left: calc(50% - 71px);
  width: 143px;
  height: 24px;
  color: #4f4f4f;
}
.big-form-upload-success {
  position: absolute;
  top: 1773px;
  left: 600px;
  width: 720px;
  height: 541px;
  color: #092441;
}
.group-child29,
.productmodify-inner {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child29 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b94 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent10 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
}
.icon19 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b95 {
  position: relative;
  line-height: 33px;
}
.frame-child16 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent17 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.productmodify {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
