* {
    margin: 0;
    padding: 0;
    font: normal 12px "맑은 고딕";
}

ul,ol {list-style: none;}

a {text-decoration: none;color: #111;}

input,textarea {outline: none;}

#wrapper {width: 100%;}

/* header 시작 */
header{
    width: 100%;
    height: 135px;
    background-color: #d3e7fc;
}

header > div.top{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
header > div.top > a{
    display: inline-block;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}
header > div.top > a:first-child{
    margin-left: 50px;
}
header > div.top > a:nth-child(2){
    margin-left: 30px;
}
header > div.top > a > span.stick{
    margin: 10px 10px 0;
    font-size: 30px;
    text-align: center;
    color: #646464;
}
/* header 끝*/

/* main 시작 */
main{
    width: 100%;
    height: auto;
}
main > section.background{
    background-color: #092441;
    width: 100%;
    height: 1500px;
}
main > section.background > article.ellipse1{}
main > section.background > article.ellipse2{}
main > section.background > article.ellipse3{}
main > section.background > section.sec_welcome{}
main > section.background > section.sec_welcome > article{}
main > section.background > section.sec_welcome > article > a{}
main > section.background > section.sec_event{}
main > section.background > section.sec_event > div{}
main > section.background > section.sec_event > div > h4{}
main > section.background > section.sec_event > div > h3{}
main > section.background > section.sec_event > div > h2{}
main > section.background > section.sec_banner{}
main > section.background > section.sec_banner > div{}
main > section.background > section.sec_banner > div > article{}
main > section.background > section.sec_banner > div > article > h2{}
main > section.background > section.sec_info{}
main > section.background > section.sec_info > article.basic > a{}
main > section.background > section.sec_info > article.basic > a > h4.line{}
main > section.background > section.sec_info > article.basic > a > div.title{}
main > section.background > section.sec_info > article.basic > a > div.title > p{}
main > section.background > section.sec_info > article.basic > a > div.title > p > span.font_size{}
main > section.background > section.sec_info > article.basic > a > div.price{}
main > section.background > section.sec_info > article.basic > a > div.price > p{}
main > section.background > section.sec_info > article.basic > a > div.price > span{}
main > section.background > section.sec_info > article.basic > a > div.option{}
main > section.background > section.sec_info > article.basic > a > div.option > span{}
main > section.background > section.sec_info > article.basic > a > div.option > p{}
main > section.background > section.sec_info > article.premium{}
main > section.background > section.sec_info > article.pro{}
main > section.background > article > a{}
/* main 끝 */

/* 공통 footer 시작 */
footer{
    width: 100%;
    height: auto;
    background: #94c5fa;
    border-top: 1p
    x solid #e9e9e9;
    box-sizing: border-box;
}
footer > div.menu{
    width: 100%;
    height: 150px;
    padding-top: 20px;
}
footer > div.menu > ul{
    float: left;
    width: 208px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}
footer > div.menu > ul:first-child{
    margin-left: 60px;
}
footer > div.menu > ul > li{
    width: 100%;
}
footer > div.menu > ul > li > a{
    color: #fff;
    line-height: 20px;
}
footer > div.menu > ul > li:first-child > a:first-child{
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}
footer > div{
    width: 100%;
    height: 100px;
}
footer > div > p:first-child{
    width: 200px;
    margin-left: 60px;
    margin-right: 20px;
}
footer > div > p{
    float: left;
    width: 581px;
    height: auto;
    color: #fff;
    line-height: 25px;
}
/* 공통 footer 끝 */

