.div1309,
.index-child {
  position: absolute;
  top: 1080px;
  left: 0;
  background-color: #092441;
  width: 1920px;
  height: 1973px;
}
.div1309 {
  top: 3053px;
  background-color: #dbecfe;
  height: 393px;
}
.div1310 {
  position: relative;
  line-height: 22.4px;
}
.frame-child268 {
  width: 1px;
  position: relative;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1313,
.parent208 {
  position: absolute;
  color: #727272;
}
.parent208 {
  top: 3309px;
  left: 824px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: left;
}
.div1313 {
  top: 3364px;
  left: 566px;
  line-height: 22.4px;
  white-space: pre-wrap;
  text-align: center;
}
.b885,
.cladance224 {
  position: absolute;
  top: 1676px;
  left: 257px;
  font-size: 44px;
  line-height: 48.4px;
  color: #fff;
  text-align: left;
}
.cladance224 {
  top: 576px;
  cursor: pointer;
}
.cladance225 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon61 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent59 {
  position: absolute;
  top: 3098px;
  left: 806px;
  width: 308px;
  height: 80px;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.index-item {
  position: absolute;
  top: 3203px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official61,
.kakaotalk61 {
  position: absolute;
  top: 3209px;
  left: 868px;
  line-height: 22.4px;
  color: #727272;
  text-align: center;
}
.kakaotalk61 {
  top: 3258px;
  left: 890px;
}
.group-child323 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child324 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk64 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent65 {
  position: absolute;
  top: 3247px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance227 {
  color: #a4d0f5;
}
.b886,
.cladance226 {
  position: absolute;
  top: 354px;
  left: 653px;
  font-size: 50px;
  line-height: 55px;
  text-align: center;
  color: #fff;
}
.b886 {
  top: 425px;
  left: 578px;
}
.index-inner {
  position: absolute;
  top: 724px;
  left: 392px;
  border-radius: 50px;
  background-color: #dbecfe;
  width: 361px;
  height: 491px;
}
.b887 {
  position: absolute;
  top: 912.6px;
  left: 441.5px;
  font-size: 30px;
  line-height: 33px;
  display: inline-block;
  text-align: center;
  width: 262.4px;
  height: 35.1px;
}
.overview-fill0-wght400-grad0-o-icon {
  position: absolute;
  top: 755.5px;
  left: 506.9px;
  width: 131.6px;
  height: 131.6px;
  overflow: hidden;
}
.index-child2,
.index-child3 {
  position: absolute;
  top: 724px;
  left: 779px;
  border-radius: 50px;
  background-color: #f8fbff;
  width: 361px;
  height: 491px;
}
.index-child3 {
  left: 1166px;
  background-color: #e0efff;
}
.cast-for-education-fill0-wght4-icon {
  position: absolute;
  top: 755.5px;
  left: 1280.5px;
  width: 131.6px;
  height: 131.6px;
  overflow: hidden;
}
.ai {
  margin-block-start: 0;
  margin-block-end: 28px;
}
.ai-container {
  position: absolute;
  top: 973.3px;
  left: 417.5px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 310.3px;
  height: 188.2px;
}
.plan-a {
  margin: 0;
}
.ai-container1,
.b888,
.b889,
.div1314 {
  position: absolute;
  top: 973.3px;
  left: 804.4px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 310.3px;
  height: 188.2px;
}
.b888,
.b889,
.div1314 {
  left: 1191.2px;
}
.b888,
.b889 {
  top: 912.6px;
  left: 849px;
  font-size: 30px;
  line-height: 33px;
  width: 220.1px;
  height: 35.1px;
}
.b889 {
  left: 1224.7px;
  width: 242.5px;
}
.school-fill0-wght400-grad0-ops-icon {
  position: absolute;
  top: 755.5px;
  left: 893.7px;
  width: 131.6px;
  height: 131.6px;
  overflow: hidden;
}
.cladance228,
.div1315 {
  position: absolute;
  color: #fff;
}
.div1315 {
  top: 1239px;
  left: 392px;
  line-height: 22.4px;
  text-align: center;
}
.cladance228 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  text-align: left;
}
.icon132 {
  position: absolute;
  top: 206px;
  left: 745px;
  width: 430px;
  height: 92px;
  object-fit: cover;
}
.instance-child148 {
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  width: 35px;
  height: 40px;
  cursor: pointer;
}
.b890,
.div1316 {
  position: absolute;
  top: 20.83%;
  left: 45px;
  line-height: 42px;
}
.div1316 {
  left: 268px;
  font-weight: 500;
  text-align: left;
}
.right-24px-icon63 {
  position: absolute;
  height: 40.28%;
  top: 31.94%;
  bottom: 27.78%;
  left: 158px;
  max-height: 100%;
  width: 30px;
  object-fit: contain;
}
.b891,
.group-parent10 {
  position: absolute;
  color: #fff;
  text-align: center;
}
.group-parent10 {
  top: 1508px;
  left: 200px;
  border-radius: 49px;
  background-color: #092441;
  border: 4px solid #2787f5;
  box-sizing: border-box;
  width: 1520px;
  height: 72px;
  overflow: hidden;
  font-size: 30px;
}
.b891 {
  top: 1389px;
  left: 816px;
  font-size: 50px;
  line-height: 55px;
}
.frame-child270 {
  position: absolute;
  height: calc(100% - 48px);
  width: 30.42%;
  top: 24px;
  right: 63.55%;
  bottom: 24px;
  left: 6.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.favorite-border-black-24dp-1-icon55 {
  position: absolute;
  top: 13px;
  right: 44px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vector-icon98,
.vector-icon99 {
  position: absolute;
  top: calc(50% + 22px);
  left: calc(50% + 56px);
  width: 17px;
  height: 15px;
}
.vector-icon99 {
  left: calc(50% + 35px);
}
.star-black-24dp-1-icon48 {
  position: absolute;
  top: calc(50% + 20px);
  left: calc(50% + 12px);
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.star-black-24dp-2-icon48,
.star-black-24dp-3-icon48 {
  position: absolute;
  top: calc(50% + 20px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.star-black-24dp-2-icon48 {
  left: calc(50% - 31px);
}
.b892 {
  position: absolute;
  top: calc(50% - 67px);
  left: calc(50% - 28px);
  line-height: 17.6px;
}
.div1317,
.div1318,
.science15 {
  position: absolute;
  line-height: 22.4px;
}
.div1317 {
  top: 12px;
  right: 12px;
  font-weight: 500;
  color: #ff5454;
}
.div1318,
.science15 {
  top: calc(50% - 7px);
  left: calc(50% - 28px);
}
.div1318 {
  top: calc(50% - 45px);
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
}
.div1319,
.div1320,
.div1321 {
  position: absolute;
  line-height: 22.4px;
}
.div1319 {
  top: calc(50% + 19px);
  left: calc(50% + 85px);
  font-weight: 500;
}
.div1320,
.div1321 {
  right: 16px;
  bottom: 16px;
  color: #787878;
}
.div1321 {
  right: 158px;
}
.rectangle-parent216,
.rectangle-parent217,
.rectangle-parent218,
.rectangle-parent219,
.rectangle-parent220,
.rectangle-parent221,
.rectangle-parent222,
.rectangle-parent223 {
  position: absolute;
  top: 1753px;
  left: 260px;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 332px;
  height: 186px;
  overflow: hidden;
}
.rectangle-parent217,
.rectangle-parent218,
.rectangle-parent219,
.rectangle-parent220,
.rectangle-parent221,
.rectangle-parent222,
.rectangle-parent223 {
  top: 2173px;
}
.rectangle-parent218,
.rectangle-parent219,
.rectangle-parent220,
.rectangle-parent221,
.rectangle-parent222,
.rectangle-parent223 {
  top: 2593px;
}
.rectangle-parent219,
.rectangle-parent220,
.rectangle-parent221,
.rectangle-parent222,
.rectangle-parent223 {
  top: 1963px;
}
.rectangle-parent220,
.rectangle-parent221,
.rectangle-parent222,
.rectangle-parent223 {
  top: 2383px;
}
.rectangle-parent221,
.rectangle-parent222,
.rectangle-parent223 {
  top: 2803px;
}
.rectangle-parent222,
.rectangle-parent223 {
  top: 1753px;
  left: 972px;
}
.rectangle-parent223 {
  top: 2173px;
}
.rectangle-parent224,
.rectangle-parent225,
.rectangle-parent226,
.rectangle-parent227,
.rectangle-parent228,
.rectangle-parent229,
.rectangle-parent230,
.rectangle-parent231 {
  position: absolute;
  top: 2593px;
  left: 972px;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 332px;
  height: 186px;
  overflow: hidden;
}
.rectangle-parent225,
.rectangle-parent226,
.rectangle-parent227,
.rectangle-parent228,
.rectangle-parent229,
.rectangle-parent230,
.rectangle-parent231 {
  top: 1963px;
}
.rectangle-parent226,
.rectangle-parent227,
.rectangle-parent228,
.rectangle-parent229,
.rectangle-parent230,
.rectangle-parent231 {
  top: 2383px;
}
.rectangle-parent227,
.rectangle-parent228,
.rectangle-parent229,
.rectangle-parent230,
.rectangle-parent231 {
  top: 2803px;
}
.rectangle-parent228,
.rectangle-parent229,
.rectangle-parent230,
.rectangle-parent231 {
  top: 1753px;
  left: 616px;
}
.rectangle-parent229,
.rectangle-parent230,
.rectangle-parent231 {
  top: 2173px;
}
.rectangle-parent230,
.rectangle-parent231 {
  top: 2593px;
}
.rectangle-parent231 {
  top: 1963px;
}
.rectangle-parent232,
.rectangle-parent233,
.rectangle-parent234,
.rectangle-parent235,
.rectangle-parent236,
.rectangle-parent237,
.rectangle-parent238,
.rectangle-parent239 {
  position: absolute;
  top: 2383px;
  left: 616px;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 332px;
  height: 186px;
  overflow: hidden;
}
.rectangle-parent233,
.rectangle-parent234,
.rectangle-parent235,
.rectangle-parent236,
.rectangle-parent237,
.rectangle-parent238,
.rectangle-parent239 {
  top: 2803px;
}
.rectangle-parent234,
.rectangle-parent235,
.rectangle-parent236,
.rectangle-parent237,
.rectangle-parent238,
.rectangle-parent239 {
  top: 1753px;
  left: 1328px;
}
.rectangle-parent235,
.rectangle-parent236,
.rectangle-parent237,
.rectangle-parent238,
.rectangle-parent239 {
  top: 2173px;
}
.rectangle-parent236,
.rectangle-parent237,
.rectangle-parent238,
.rectangle-parent239 {
  top: 2593px;
}
.rectangle-parent237,
.rectangle-parent238,
.rectangle-parent239 {
  top: 1963px;
}
.rectangle-parent238,
.rectangle-parent239 {
  top: 2383px;
}
.rectangle-parent239 {
  top: 2803px;
}
.group-child325,
.index-child4 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #092441;
  width: 1920px;
  height: 128px;
}
.group-child325 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b916 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent240 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
}
.icon133 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
}
.b917 {
  position: relative;
  line-height: 33px;
  cursor: pointer;
}
.frame-child294 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.b918 {
  position: relative;
  line-height: 33px;
}
.parent209 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.index {
  width: 100%;
  position: relative;
  background-color: #092441;
  height: 1080px;
  overflow-y: auto;
  text-align: justify;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
