.div427 {
  position: absolute;
  top: 2981px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div428,
.frame-child73 {
  position: relative;
}
.frame-child73 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div431,
.parent77 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent77 {
  top: 3237px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div431 {
  top: 3292px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance61 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon19 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent17 {
  position: absolute;
  top: 3026px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.memberterms-policy-child {
  position: absolute;
  top: 3131px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official19,
.kakaotalk19 {
  position: absolute;
  top: 3128px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk19 {
  top: 3178px;
  left: 892px;
}
.group-child95 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child96 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk19 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent19 {
  position: absolute;
  top: 3175px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance62 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.cladance63 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home18 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon54 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail36,
.right-16px-icon55 {
  position: relative;
  display: none;
}
.detail36 {
  width: 121px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon55 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail37,
.pricing18 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail37 {
  width: 56px;
  display: none;
}
.pricing18 {
  color: #2787f5;
}
.list18 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs18,
.home-icon18 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs18 {
  top: 238px;
  left: 569px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.div432 {
  position: absolute;
  top: -5px;
  left: calc(50% - 78.15px);
  line-height: 28px;
  font-weight: 500;
}
.indicator-icon {
  position: absolute;
  width: 100%;
  top: 32px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-2 {
  width: 16.66%;
  top: 1px;
  right: 66.67%;
  left: 16.66%;
  height: 32px;
}
.div434,
.tab-2,
.tab-4 {
  position: absolute;
}
.tab-4 {
  width: 16.66%;
  top: 1px;
  right: 33.34%;
  left: 50%;
  height: 32px;
}
.div434 {
  top: -5px;
  left: calc(50% - 111.15px);
  line-height: 28px;
  font-weight: 500;
}
.tab-3 {
  width: 16.66%;
  top: 1px;
  right: 50%;
  left: 33.34%;
  height: 32px;
}
.div436,
.tab-3,
.tab-5 {
  position: absolute;
}
.tab-5 {
  width: 16.66%;
  top: 1px;
  right: 16.67%;
  left: 66.66%;
  height: 32px;
}
.div436 {
  top: -5px;
  left: calc(50% - 87.15px);
  line-height: 28px;
  font-weight: 500;
}
.indicator-stroke-icon,
.tab-6 {
  position: absolute;
  width: 16.66%;
  top: 1px;
  right: 0;
  left: 83.34%;
  height: 32px;
}
.indicator-stroke-icon {
  width: 100%;
  top: 31px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 4px;
}
.tab-1,
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 237.3px;
  height: 35px;
  color: #2787f5;
}
.tabs {
  width: 74.17%;
  top: 317px;
  right: 12.92%;
  left: 12.92%;
  text-align: center;
  color: #828282;
}
.b288,
.cladance64 {
  position: absolute;
  top: 416px;
  left: 280px;
  font-size: 40px;
  line-height: 44px;
}
.b288 {
  top: 492px;
  left: 296px;
  font-size: 32px;
  line-height: 35.2px;
}
.b289 {
  top: 544px;
  font-size: 24px;
  line-height: 26.4px;
}
.b289,
.b290,
.div438,
.div439 {
  position: absolute;
  left: 296px;
}
.b290 {
  top: 791px;
  font-size: 24px;
  line-height: 26.4px;
}
.div438,
.div439 {
  top: 579px;
  line-height: 28px;
  display: inline-block;
  width: 1328px;
}
.div439 {
  top: 826px;
}
.memberterms-policy-item {
  position: absolute;
  top: 1069.5px;
  left: 296.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1418px;
  height: 1px;
}
.memberterms-policy-child1,
.memberterms-policy-child2,
.memberterms-policy-child3,
.memberterms-policy-inner {
  position: absolute;
  top: 1827.5px;
  left: 296.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1418px;
  height: 1px;
}
.memberterms-policy-child1,
.memberterms-policy-child2,
.memberterms-policy-child3 {
  top: 1448.5px;
}
.memberterms-policy-child2,
.memberterms-policy-child3 {
  top: 2206.5px;
}
.memberterms-policy-child3 {
  top: 2585.5px;
}
.b291,
.b292,
.b293,
.b294,
.b295 {
  position: absolute;
  top: 1118px;
  left: 296px;
  font-size: 32px;
  line-height: 35.2px;
}
.b292,
.b293,
.b294,
.b295 {
  top: 1876px;
}
.b293,
.b294,
.b295 {
  top: 1497px;
}
.b294,
.b295 {
  top: 2255px;
}
.b295 {
  top: 2634px;
}
.b296,
.b297,
.b298,
.b299,
.b300 {
  position: absolute;
  top: 1170px;
  left: 296px;
  font-size: 24px;
  line-height: 26.4px;
}
.b297,
.b298,
.b299,
.b300 {
  top: 1928px;
}
.b298,
.b299,
.b300 {
  top: 1549px;
}
.b299,
.b300 {
  top: 2307px;
}
.b300 {
  top: 2686px;
}
.div440,
.div441,
.div442,
.div443,
.div444 {
  position: absolute;
  top: 1205px;
  left: 296px;
  line-height: 28px;
  display: inline-block;
  width: 1328px;
}
.div441,
.div442,
.div443,
.div444 {
  top: 1963px;
}
.div442,
.div443,
.div444 {
  top: 1584px;
}
.div443,
.div444 {
  top: 2342px;
}
.div444 {
  top: 2721px;
}
.group-child97,
.memberterms-policy-child4 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child97 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b301 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent46 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon52 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b302 {
  position: relative;
  line-height: 33px;
}
.frame-child75 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent78 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.memberterms-policy {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
