.div407 {
  position: absolute;
  top: 1080px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div408,
.frame-child61 {
  position: relative;
}
.frame-child61 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div411,
.parent71 {
  position: absolute;
  font-size: 17px;
}
.parent71 {
  top: 1336px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div411 {
  top: 1391px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance50 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon16 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent14 {
  position: absolute;
  top: 1125px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  font-family: MuseoModerno;
}
.membersign-upcomplete-child {
  position: absolute;
  top: 1230px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official16,
.kakaotalk16 {
  position: absolute;
  top: 1227px;
  left: 870px;
  font-family: "Sans Serif Collection";
}
.kakaotalk16 {
  top: 1277px;
  left: 892px;
}
.group-child80 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child81 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk16 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent16 {
  position: absolute;
  top: 1274px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b270,
.cladance51 {
  position: absolute;
  text-align: left;
}
.cladance51 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b270 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
  color: #000;
}
.home15 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon45,
.right-16px-icon46 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.right-16px-icon46 {
  display: none;
}
.detail31,
.pricing15 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail31 {
  width: 56px;
  display: none;
}
.pricing15 {
  color: #2787f5;
}
.list15 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs15,
.home-icon15 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs15 {
  top: 238px;
  left: 473px;
  width: 286px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  color: #828282;
}
.b271 {
  position: absolute;
  top: 519px;
  left: 669px;
  font-size: 50px;
  line-height: 55px;
  color: #000;
}
.instagram-logo-11 {
  position: absolute;
  top: 317px;
  left: 869px;
  width: 182px;
  height: 170px;
  object-fit: cover;
}
.cladance-unist {
  margin-block-start: 0;
  margin-block-end: 42px;
}
.span88 {
  color: #828282;
}
.span89 {
  color: #2f2be0;
}
.p19 {
  margin: 0;
}
.cladance-unist-container {
  position: absolute;
  top: 606px;
  left: 231px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 500;
  color: #828282;
}
.button-sample12 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 52.5px);
  line-height: 22.4px;
}
.normal-button10 {
  position: absolute;
  top: 838px;
  left: 737px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 191px;
  height: 55px;
  overflow: hidden;
  color: #fff;
}
.button-sample13 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 45.5px);
  line-height: 22.4px;
}
.normal-button11 {
  position: absolute;
  top: 838px;
  left: 992px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 191px;
  height: 55px;
  overflow: hidden;
  color: #fff;
}
.group-child82,
.membersign-upcomplete-item {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child82 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b272 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent43 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  color: #000;
}
.icon49 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b273 {
  position: relative;
  line-height: 33px;
}
.frame-child63 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent72 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
  color: #000;
}
.membersign-upcomplete {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #727272;
  font-family: "Noto Sans KR";
}
