.div390 {
  position: absolute;
  top: 2204px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div391,
.frame-child57 {
  position: relative;
}
.frame-child57 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div394,
.parent69 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent69 {
  top: 2460px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div394 {
  top: 2515px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance47 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon15 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent13 {
  position: absolute;
  top: 2249px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.membersign-up-child {
  position: absolute;
  top: 2354px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official15,
.kakaotalk15 {
  position: absolute;
  top: 2351px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk15 {
  top: 2401px;
  left: 892px;
}
.group-child77 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child78 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk15 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent15 {
  position: absolute;
  top: 2398px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance48 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b263 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home14 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon42 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail28,
.right-16px-icon43 {
  position: relative;
  display: none;
}
.detail28 {
  width: 66px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon43 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail29,
.pricing14 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail29 {
  width: 56px;
  display: none;
}
.pricing14 {
  color: #2787f5;
}
.list14 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs14,
.home-icon14 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs14 {
  top: 238px;
  left: 538px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b264,
.b265 {
  position: absolute;
  top: 317px;
  left: 869px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  text-align: center;
  width: 174px;
}
.b265 {
  top: 816px;
  left: 868px;
  width: 176px;
}
.span80 {
  color: #000;
}
.div395 {
  position: absolute;
  top: 927px;
  left: 846px;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  width: 220px;
  color: red;
}
.membersign-up-item {
  position: absolute;
  top: 767.5px;
  left: 250.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1418px;
  height: 1px;
}
.icon44,
.right-24px-icon31 {
  position: absolute;
  width: 24px;
}
.right-24px-icon31 {
  top: calc(50% - 11.5px);
  right: 24px;
  height: 23px;
  object-fit: contain;
}
.icon44 {
  top: 16px;
  left: 272px;
  background-color: #c4c4c4;
  height: 24px;
  display: none;
}
.dropdown43 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: inline-block;
}
.placeholder77 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: 24px;
  width: 233px;
  height: 23px;
}
.form69 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
}
.dropdown42,
.dropdown44,
.dropdown46,
.dropdown48 {
  position: absolute;
  top: 452px;
  left: 827px;
  width: 320px;
  height: 55px;
  color: #333;
}
.dropdown44,
.dropdown46,
.dropdown48 {
  top: 523px;
}
.dropdown46,
.dropdown48 {
  top: 594px;
}
.dropdown48 {
  top: 665px;
}
.div396,
.div397 {
  position: absolute;
  top: 382px;
  left: 782px;
  font-size: 27px;
  line-height: 37.8px;
  text-align: center;
}
.div397 {
  top: 881px;
  left: 704px;
}
.div398,
.div399,
.div400,
.div401 {
  position: absolute;
  top: 463px;
  left: 766px;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
}
.div399,
.div400,
.div401 {
  top: 534px;
}
.div400,
.div401 {
  top: 605px;
  left: 723px;
}
.div401 {
  top: 676px;
  left: 744px;
}
.form73,
.placeholder81 {
  position: absolute;
  top: 16px;
  left: 24px;
  width: 276px;
  height: 23px;
}
.form73 {
  width: 100%;
  top: 31px;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 55px;
  overflow: hidden;
}
.span81 {
  color: #ff5454;
}
.label-sample32 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26.4px;
}
.input-label60 {
  position: absolute;
  top: -8px;
  left: 0;
  width: 87px;
  height: 23px;
  font-size: 24px;
  color: #000;
}
.input-label59 {
  position: absolute;
  top: 982px;
  left: 800px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.button-sample9 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.normal-button7 {
  position: absolute;
  top: 2085px;
  left: 819px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 275px;
  height: 55px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.button-sample10,
.div402 {
  position: absolute;
  line-height: 22.4px;
}
.div402 {
  top: 982px;
  left: 892px;
  font-size: 12px;
  color: #bdbdbd;
}
.button-sample10 {
  top: calc(50% - 12px);
  left: calc(50% - 31px);
}
.normal-button8 {
  position: absolute;
  top: 1021px;
  left: 1144px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 96px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  color: #fff;
}
.input-label61,
.input-label63 {
  position: absolute;
  top: 1100px;
  left: 596px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.input-label63 {
  left: 996px;
}
.b266,
.div403,
.normal-button9 {
  position: absolute;
  text-align: center;
}
.normal-button9 {
  top: 1256px;
  left: 820px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 96px;
  height: 40px;
  overflow: hidden;
  color: #fff;
}
.b266,
.div403 {
  top: 1583px;
  left: 714px;
  font-size: 27px;
  line-height: 37.8px;
}
.b266 {
  top: 1518px;
  left: 868px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  width: 176px;
}
.membersign-up-inner {
  position: absolute;
  top: 1469.5px;
  left: 250.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1418px;
  height: 1px;
}
.input-text31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
}
.input-label65,
.input-label67,
.input-label69 {
  position: absolute;
  top: 1336px;
  left: 596px;
  width: 320px;
  height: 86px;
  color: #bdbdbd;
}
.input-label67,
.input-label69 {
  top: 1218px;
  left: 996px;
}
.input-label69 {
  top: 1336px;
}
.div404,
.div405,
.div406,
.unistackr {
  position: absolute;
  top: 1100px;
  left: 710px;
  font-size: 12px;
  line-height: 22.4px;
  color: #bdbdbd;
}
.div405,
.div406,
.unistackr {
  top: 1336px;
}
.div406,
.unistackr {
  top: 1218px;
  left: 1110px;
}
.unistackr {
  top: 1336px;
  left: 1138px;
}
.accordion-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.collapse-group-3 {
  position: absolute;
  width: 70.04%;
  top: 29.09%;
  left: 11.99%;
  line-height: 17.6px;
  display: inline-block;
}
.up-24px-icon {
  position: absolute;
  height: 41.82%;
  width: 4.49%;
  top: 29.09%;
  right: 4.49%;
  bottom: 29.09%;
  left: 91.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.accordion-11,
.accordion-3 {
  position: absolute;
  height: 14.95%;
  width: 100%;
  top: 84.78%;
  right: 0;
  bottom: 0.27%;
  left: 0;
}
.accordion-11 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.accordion-1-child,
.accordion-2 {
  position: absolute;
  height: 14.95%;
  width: 100%;
  top: 69.84%;
  right: 0;
  bottom: 15.22%;
  left: 0;
}
.accordion-1-child {
  height: 78.84%;
  top: 21.16%;
  bottom: 0;
  background-color: #f8fbff;
}
.some-quick-example {
  position: absolute;
  height: 60.39%;
  width: 91.01%;
  top: 30.39%;
  left: 4.49%;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
}
.accordion-13 {
  position: absolute;
  height: 21.16%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 78.84%;
  left: 0;
  border-radius: 8px 8px 0 0;
  background-color: #2787f5;
}
.collapse-group-1 {
  position: absolute;
  height: 6.95%;
  width: 70.04%;
  top: 6.95%;
  left: 11.99%;
  line-height: 17.6px;
  display: inline-block;
  color: #fff;
}
.up-24px-icon2 {
  position: absolute;
  height: 6.91%;
  width: 4.49%;
  top: 6.95%;
  right: 4.49%;
  bottom: 86.14%;
  left: 91.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.accordion-12 {
  position: absolute;
  height: 70.38%;
  width: 100%;
  top: -0.54%;
  right: 0;
  bottom: 30.16%;
  left: 0;
  color: #4f4f4f;
}
.box12,
.box13,
.box14 {
  position: absolute;
  height: 6.52%;
  width: 4.49%;
  top: 3.8%;
  right: 91.01%;
  bottom: 89.67%;
  left: 4.49%;
  border-radius: 4px;
  border: 2px solid #092441;
  box-sizing: border-box;
}
.box13,
.box14 {
  top: 88.86%;
  bottom: 4.62%;
  border: 2px solid #bdbdbd;
}
.box14 {
  top: 73.91%;
  bottom: 19.57%;
}
.accordion-open,
.input-label71 {
  position: absolute;
  top: 1653px;
  left: 693px;
  width: 534px;
  height: 368px;
  color: #092c4c;
}
.input-label71 {
  top: 1218px;
  left: 596px;
  width: 200px;
  height: 86px;
  color: #bdbdbd;
}
.group-child79,
.membersign-up-child1 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child79 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b267 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent42 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
}
.icon48 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b268 {
  position: relative;
  line-height: 33px;
}
.frame-child59 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent70 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.membersign-up {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
