.div545 {
  position: absolute;
  top: 2592px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div546,
.frame-child97 {
  position: relative;
}
.frame-child97 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div549,
.parent100 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent100 {
  top: 2848px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div549 {
  top: 2903px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance89 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon25 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent23 {
  position: absolute;
  top: 2637px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.csfaqlist-child {
  position: absolute;
  top: 2742px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official25,
.kakaotalk25 {
  position: absolute;
  top: 2739px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk25 {
  top: 2789px;
  left: 892px;
}
.group-child118 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child119 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk26 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent26 {
  position: absolute;
  top: 2786px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance90 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.cladance-faq1 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home24 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon72 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing24 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list24 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs24,
.home-icon24 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs24 {
  top: 238px;
  left: 842px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.div550 {
  position: absolute;
  top: -5px;
  left: calc(50% - 26.15px);
  line-height: 28px;
  font-weight: 500;
}
.indicator-icon5 {
  position: absolute;
  width: 100%;
  top: 32px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-21 {
  position: absolute;
  width: 16.66%;
  top: 1px;
  right: 66.67%;
  left: 16.66%;
  height: 32px;
}
.indicator-stroke-icon1,
.tab-31,
.tab-41,
.tab-51,
.tab-61 {
  position: absolute;
  width: 16.66%;
  top: 1px;
  right: 33.34%;
  left: 50%;
  height: 32px;
}
.indicator-stroke-icon1,
.tab-31,
.tab-51,
.tab-61 {
  right: 50%;
  left: 33.34%;
}
.indicator-stroke-icon1,
.tab-51,
.tab-61 {
  right: 16.67%;
  left: 66.66%;
}
.indicator-stroke-icon1,
.tab-61 {
  right: 0;
  left: 83.34%;
}
.indicator-stroke-icon1 {
  width: 100%;
  top: 31px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 4px;
}
.tab-11 {
  top: 0;
  left: 0;
  width: 237.3px;
  height: 35px;
  color: #2787f5;
}
.b343,
.tab-11,
.tabs1 {
  position: absolute;
}
.tabs1 {
  width: 74.17%;
  top: 317px;
  right: 12.92%;
  left: 12.92%;
  height: 35px;
  text-align: center;
  font-size: 20px;
  color: #828282;
}
.b343 {
  top: 416px;
  left: 280px;
  font-size: 40px;
  line-height: 44px;
}
.div556,
.instance-child39 {
  position: absolute;
  top: calc(50% - 14px);
}
.instance-child39 {
  right: 32px;
  width: 24.5px;
  height: 28px;
}
.div556 {
  left: 58px;
  line-height: 28px;
  font-weight: 500;
}
.right-24px-icon37 {
  position: absolute;
  top: calc(50% - 13px);
  left: 144px;
  width: 30px;
  height: 29px;
  object-fit: contain;
}
.div557 {
  position: absolute;
  top: calc(50% - 14px);
  left: 254px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
}
.group-parent7 {
  position: absolute;
  top: 416px;
  left: 1008px;
  border-radius: 39px;
  border: 2px solid #2787f5;
  box-sizing: border-box;
  width: 648px;
  height: 48px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
}
.csfaqlist-inner,
.csfaqlist-item {
  position: absolute;
  top: 508px;
  left: 280px;
  border-radius: 32px 32px 32px 0;
  background-color: #2787f5;
  width: 996px;
  height: 80px;
}
.csfaqlist-inner {
  top: 1029px;
}
.csfaqlist-child1,
.csfaqlist-child2 {
  position: absolute;
  top: 612px;
  left: 644px;
  border-radius: 32px 32px 0 32px;
  background-color: #dbecfe;
  width: 996px;
  height: 353px;
}
.csfaqlist-child2 {
  top: 1133px;
}
.q,
.q1 {
  position: absolute;
  top: 529px;
  left: 328px;
  line-height: 37.8px;
  font-weight: 500;
  color: #fff;
}
.q1 {
  top: 1050px;
}
.a {
  margin-block-start: 0;
  margin-block-end: 37.8px;
}
.p32 {
  margin: 0;
}
.a-container {
  position: absolute;
  top: 636px;
  left: 692px;
  line-height: 37.8px;
  font-weight: 500;
  display: inline-block;
  width: 900px;
}
.csfaqlist-child3,
.csfaqlist-child4 {
  position: absolute;
  top: 1550px;
  left: 280px;
  border-radius: 32px 32px 32px 0;
  background-color: #2787f5;
  width: 996px;
  height: 80px;
}
.csfaqlist-child4 {
  top: 2071px;
}
.csfaqlist-child5,
.csfaqlist-child6 {
  position: absolute;
  top: 1654px;
  left: 644px;
  border-radius: 32px 32px 0 32px;
  background-color: #dbecfe;
  width: 996px;
  height: 353px;
}
.csfaqlist-child6 {
  top: 2175px;
}
.q2 {
  top: 1571px;
  left: 328px;
  color: #fff;
}
.a-container1,
.a-container2,
.a-container3,
.q2,
.q3 {
  position: absolute;
  line-height: 37.8px;
  font-weight: 500;
}
.q3 {
  top: 2092px;
  left: 328px;
  color: #fff;
}
.a-container1,
.a-container2,
.a-container3 {
  top: 1678px;
  left: 692px;
  display: inline-block;
  width: 900px;
}
.a-container2,
.a-container3 {
  top: 2199px;
}
.a-container3 {
  top: 1157px;
}
.csfaqlist-child7,
.group-child120 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child120 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b344 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent61 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon58 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b345 {
  position: relative;
  line-height: 33px;
}
.frame-child99 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent101 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.csfaqlist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 27px;
  color: #000;
  font-family: "Noto Sans KR";
}
