.div445 {
  position: absolute;
  top: 3610px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div446,
.frame-child77 {
  position: relative;
}
.frame-child77 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div449,
.parent79 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent79 {
  top: 3866px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div449 {
  top: 3921px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance66 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon20 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent18 {
  position: absolute;
  top: 3655px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.csindex-child {
  position: absolute;
  top: 3760px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official20,
.kakaotalk20 {
  position: absolute;
  top: 3757px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk20 {
  top: 3807px;
  left: 892px;
}
.group-child98 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child99 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk20 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent20 {
  position: absolute;
  top: 3804px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance67 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b304 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home19 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon57 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail38,
.right-16px-icon58 {
  position: relative;
  display: none;
}
.detail38 {
  width: 66px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon58 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail39,
.pricing19 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail39 {
  width: 56px;
  display: none;
}
.pricing19 {
  color: #2787f5;
}
.list19 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs19,
.home-icon19 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs19 {
  top: 238px;
  left: 408px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.background-remove-logo-1 {
  position: absolute;
  top: 317px;
  left: 862px;
  width: 196px;
  height: 184px;
  object-fit: cover;
}
.span99 {
  color: #000;
}
.cladance-container2 {
  position: absolute;
  top: 533px;
  left: 593px;
  font-size: 44px;
  line-height: 48.4px;
  text-align: center;
  color: #2f2be0;
}
.b305,
.b306 {
  position: absolute;
}
.b305 {
  top: 622px;
  left: 762px;
  font-size: 44px;
  line-height: 48.4px;
  text-align: center;
}
.b306 {
  top: 735px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.csindex-child1,
.csindex-inner,
.csindex-item {
  position: absolute;
  top: 810px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.csindex-child1,
.csindex-inner {
  top: 877.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.csindex-child1 {
  top: 944.5px;
}
.cladance68,
.div450,
.div451 {
  position: absolute;
  top: 827px;
  left: 256px;
  line-height: 33.6px;
}
.cladance68,
.div451 {
  top: 894px;
}
.div451 {
  top: 961px;
}
.csindex-child2,
.csindex-child3,
.csindex-child4 {
  position: absolute;
  top: 1011.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.csindex-child3,
.csindex-child4 {
  top: 1078.5px;
}
.csindex-child4 {
  top: 1145px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div452,
.div453 {
  position: absolute;
  top: 1028px;
  left: 256px;
  line-height: 33.6px;
}
.div453 {
  top: 1095px;
}
.div454,
.div455,
.div456,
.div457,
.div458,
.div459 {
  position: absolute;
  top: 827px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div455,
.div456,
.div457,
.div458,
.div459 {
  top: 894px;
}
.div456,
.div457,
.div458,
.div459 {
  top: 961px;
}
.div457,
.div458,
.div459 {
  top: 1028px;
}
.div458,
.div459 {
  top: 1095px;
}
.div459 {
  top: 769px;
  left: 1573px;
  font-weight: 500;
}
.b307,
.cladance69 {
  position: absolute;
  top: 2701px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.cladance69 {
  top: 3232px;
}
.csindex-child5,
.csindex-child6,
.csindex-child7 {
  position: absolute;
  top: 2776px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.csindex-child6,
.csindex-child7 {
  top: 2843.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.csindex-child7 {
  top: 2910.5px;
}
.cladance70,
.div460,
.div461 {
  position: absolute;
  top: 2793px;
  left: 256px;
  line-height: 33.6px;
}
.cladance70,
.div461 {
  top: 2860px;
}
.div461 {
  top: 2927px;
}
.csindex-child10,
.csindex-child8,
.csindex-child9 {
  position: absolute;
  top: 2977.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.csindex-child10,
.csindex-child9 {
  top: 3044.5px;
}
.csindex-child10 {
  top: 3111px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div462,
.div463 {
  position: absolute;
  top: 2994px;
  left: 256px;
  line-height: 33.6px;
}
.div463 {
  top: 3061px;
}
.div464,
.div465,
.div466,
.div467,
.div468,
.div469,
.kk,
.kk1,
.kk2,
.kk3,
.kk4 {
  position: absolute;
  top: 2793px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div465,
.div466,
.div467,
.div468,
.div469,
.kk,
.kk1,
.kk2,
.kk3,
.kk4 {
  left: 1467px;
}
.div465,
.div466,
.div467,
.div468,
.div469,
.kk1,
.kk2,
.kk3,
.kk4 {
  top: 2927px;
}
.div465,
.div466,
.div467,
.div468,
.div469,
.kk2,
.kk3,
.kk4 {
  top: 2860px;
}
.div465,
.div466,
.div467,
.div468,
.div469,
.kk3,
.kk4 {
  top: 2994px;
}
.div465,
.div466,
.div467,
.div468,
.div469,
.kk4 {
  top: 3061px;
}
.div465,
.div466,
.div467,
.div468,
.div469 {
  top: 2860px;
  left: 1570px;
}
.div466,
.div467,
.div468,
.div469 {
  top: 2927px;
}
.div467,
.div468,
.div469 {
  top: 2994px;
}
.div468,
.div469 {
  top: 3061px;
}
.div469 {
  top: 2735px;
  left: 1573px;
  font-weight: 500;
}
.csindex-child11,
.csindex-child12,
.csindex-child13 {
  position: absolute;
  top: 2301px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.csindex-child12,
.csindex-child13 {
  top: 2368.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.csindex-child13 {
  top: 2435.5px;
}
.cladance71,
.div470,
.div471 {
  position: absolute;
  top: 2318px;
  left: 256px;
  line-height: 33.6px;
}
.cladance71,
.div471 {
  top: 2385px;
}
.div471 {
  top: 2452px;
}
.csindex-child14,
.csindex-child15,
.csindex-child16 {
  position: absolute;
  top: 2502.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.csindex-child15,
.csindex-child16 {
  top: 2569.5px;
}
.csindex-child16 {
  top: 2636px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div472,
.div473 {
  position: absolute;
  top: 2519px;
  left: 256px;
  line-height: 33.6px;
}
.div473 {
  top: 2586px;
}
.div474,
.div475,
.div476,
.div477,
.div478,
.div479,
.div480 {
  position: absolute;
  top: 2318px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div475,
.div476,
.div477,
.div478,
.div479,
.div480 {
  top: 2385px;
}
.div476,
.div477,
.div478,
.div479,
.div480 {
  top: 2452px;
}
.div477,
.div478,
.div479,
.div480 {
  top: 2519px;
}
.div478,
.div479,
.div480 {
  top: 2586px;
}
.div479,
.div480 {
  top: 2260px;
  left: 1573px;
  font-weight: 500;
}
.div480 {
  top: 1244px;
}
.cladance-faq,
.cladance72 {
  position: absolute;
  top: 1210px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.cladance-faq {
  top: 2024px;
}
.button-sample17 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 39.5px);
  line-height: 22.4px;
}
.normal-button15 {
  position: absolute;
  top: 3128px;
  left: 272px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 121px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.enter-text-here {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: none;
}
.placeholder91 {
  position: absolute;
  width: calc(100% - 62px);
  top: 82px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.form-child {
  position: absolute;
  top: 67px;
  left: 24px;
  width: 36px;
  height: 36px;
}
.instagram,
.kakaotalk-ch {
  position: absolute;
  top: 71px;
  left: 68px;
  font-size: 24px;
  line-height: 26.4px;
}
.kakaotalk-ch {
  top: 156px;
}
.cladance-official,
.cladance73 {
  position: absolute;
  top: 106px;
  left: 64px;
  line-height: 22.4px;
  color: #1d1d1d;
}
.cladance73 {
  top: 191px;
}
.group-child100 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #2787f5;
  width: 44px;
  height: 35px;
}
.ellipse-parent21 {
  position: absolute;
  top: 153px;
  left: 20px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.form83,
.sns {
  position: absolute;
}
.sns {
  top: 16px;
  left: 16px;
  font-size: 24px;
  line-height: 26.4px;
  color: #000;
}
.form83 {
  width: 16.67%;
  top: 3308px;
  right: 58.8%;
  left: 24.53%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 238px;
  overflow: hidden;
  font-size: 16px;
  color: #2787f5;
}
.placeholder92 {
  position: absolute;
  width: calc(100% - 62px);
  top: 100px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.ceo1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 32px;
}
.ceo,
.coo {
  position: absolute;
  top: 67px;
  left: 28px;
  font-size: 24px;
  line-height: 26.4px;
  color: #2787f5;
}
.coo {
  left: 295px;
}
.b308,
.b309,
.k-hj-03,
.kangmin-0513 {
  position: absolute;
  top: 102px;
  left: 24px;
  line-height: 22.4px;
}
.b309,
.k-hj-03,
.kangmin-0513 {
  left: 291px;
}
.k-hj-03,
.kangmin-0513 {
  top: 129px;
  left: 24px;
}
.kangmin-0513 {
  left: 291px;
}
.ghj7278unistackr,
.kkm030513unistackr {
  position: absolute;
  top: 156px;
  left: 24px;
  line-height: 22.4px;
}
.kkm030513unistackr {
  left: 291px;
}
.form84 {
  position: absolute;
  width: 30.16%;
  top: 3308px;
  right: 24.48%;
  left: 45.36%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 238px;
  overflow: hidden;
  font-size: 16px;
  color: #1d1d1d;
}
.instance-child32 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title {
  position: absolute;
  top: 102px;
  left: 44px;
  line-height: 17.6px;
}
.image-fill13 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image12 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
  text-align: center;
}
.rectangle-parent47 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-parent {
  position: absolute;
  top: 2100px;
  left: 258px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.shdow {
  position: absolute;
  top: 296px;
  left: 23.3px;
  border-radius: 8px;
  background-color: rgba(189, 189, 189, 0.8);
  filter: blur(36px);
  width: 383.4px;
  height: 250px;
}
.background7,
.image-icon {
  position: absolute;
  left: 0;
  width: 421px;
}
.background7 {
  top: 276px;
  border-radius: 8px;
  background-color: #fff;
  height: 398px;
}
.image-icon {
  top: 0;
  border-radius: 8px 8px 0 0;
  height: 421px;
  object-fit: cover;
}
.link {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 16.5px);
  line-height: 22.4px;
}
.normal-button16 {
  position: absolute;
  top: 595px;
  left: 24px;
  border-radius: 8px;
  background-color: #092c4c;
  width: 373px;
  height: 55px;
  overflow: hidden;
}
.body {
  top: 35px;
  left: 0;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
  height: 91px;
}
.body,
.card-title,
.content {
  position: absolute;
  width: 373px;
}
.card-title {
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 26.4px;
  display: inline-block;
  color: #092c4c;
}
.content {
  top: 445px;
  left: 24px;
  height: 126px;
  text-align: left;
  color: #4f4f4f;
}
.image-cardcta,
.image-cardcta1,
.image-cardcta2 {
  position: absolute;
  top: 1286px;
  left: 248px;
  width: 421px;
  height: 674px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.image-cardcta1,
.image-cardcta2 {
  left: 749px;
}
.image-cardcta2 {
  left: 1251px;
}
.csindex-child17,
.group-child102 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child102 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b311 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent53 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon53 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b312 {
  position: relative;
  line-height: 33px;
}
.frame-child79 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent80 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.csindex {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "Noto Sans KR";
}
