.div481 {
  position: absolute;
  top: 1343px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div482,
.frame-child81 {
  position: relative;
}
.frame-child81 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div485,
.parent81 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent81 {
  top: 1599px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div485 {
  top: 1654px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance75 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon21 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent19 {
  position: absolute;
  top: 1388px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.csnoticelist-child {
  position: absolute;
  top: 1493px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official21,
.kakaotalk21 {
  position: absolute;
  top: 1490px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk21 {
  top: 1540px;
  left: 892px;
}
.group-child103 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child104 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk22 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent22 {
  position: absolute;
  top: 1537px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b314,
.cladance76 {
  position: absolute;
  text-align: left;
}
.cladance76 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b314 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home20 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon60 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing20 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list20 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs20,
.home-icon20 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs20 {
  top: 238px;
  left: 408px;
  width: 286px;
  height: 24px;
  text-align: left;
  color: #828282;
}
.div486 {
  left: 30px;
}
.div486,
.div487,
.div488,
.div489,
.xxxxxx {
  position: absolute;
  top: 22px;
  line-height: 28px;
  font-weight: 500;
}
.div487 {
  left: 150px;
  text-align: left;
}
.div488,
.div489,
.xxxxxx {
  right: 381px;
}
.div489,
.xxxxxx {
  right: 202px;
}
.xxxxxx {
  right: 44px;
}
.parent82,
.parent83,
.parent84,
.parent85,
.parent86,
.parent87,
.parent88,
.parent89 {
  position: absolute;
  height: 6.67%;
  width: 74.17%;
  top: 63.8%;
  right: 12.92%;
  bottom: 29.54%;
  left: 12.92%;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}
.parent83,
.parent84,
.parent85,
.parent86,
.parent87,
.parent88,
.parent89 {
  top: 90.28%;
  bottom: 3.06%;
}
.parent84,
.parent85,
.parent86,
.parent87,
.parent88,
.parent89 {
  top: 96.94%;
  bottom: -3.61%;
}
.parent85,
.parent86,
.parent87,
.parent88,
.parent89 {
  width: 74.11%;
  top: 103.61%;
  right: 12.97%;
  bottom: -10.28%;
  border-bottom: 2px solid #000;
}
.parent86,
.parent87,
.parent88,
.parent89 {
  width: 74.17%;
  top: 57.13%;
  right: 12.92%;
  bottom: 36.2%;
  border-bottom: 1px solid #000;
}
.parent87,
.parent88,
.parent89 {
  top: 83.61%;
  bottom: 9.72%;
}
.parent88,
.parent89 {
  top: 50.46%;
  bottom: 42.87%;
}
.parent89 {
  top: 76.94%;
  bottom: 16.39%;
}
.file-icon {
  position: absolute;
  top: 24px;
  left: 478px;
  width: 24px;
  height: 24px;
}
.parent90,
.parent91 {
  height: 6.67%;
  width: 74.17%;
  right: 12.92%;
  left: 12.92%;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}
.parent90 {
  position: absolute;
  top: 43.8%;
  bottom: 49.54%;
}
.parent91 {
  top: 70.28%;
  bottom: 23.06%;
}
.b315,
.b316,
.parent91 {
  position: absolute;
}
.b315 {
  top: 28px;
  left: calc(50% - 226px);
  line-height: 28px;
  text-align: center;
}
.b316 {
  left: 30px;
}
.b316,
.b317,
.b318 {
  top: 28px;
  line-height: 28px;
}
.b317 {
  position: absolute;
  right: 356px;
}
.b318 {
  right: 64px;
}
.b318,
.b319,
.parent92 {
  position: absolute;
}
.b319 {
  top: 28px;
  right: 220px;
  line-height: 28px;
}
.parent92 {
  height: 7.78%;
  width: 74.17%;
  top: 36.02%;
  right: 12.92%;
  bottom: 56.2%;
  left: 12.92%;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
}
.group-child105 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #2787f5;
  width: 48px;
  height: 48px;
}
.b320 {
  position: absolute;
  top: 12px;
  left: 19px;
  line-height: 22.4px;
}
.rectangle-parent54 {
  width: 48px;
  position: relative;
  height: 48px;
  color: #fff;
}
.group-child106 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.rectangle-parent55 {
  width: 48px;
  position: relative;
  height: 48px;
}
.pagination2 {
  position: absolute;
  top: 1231px;
  left: 880px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  font-size: 16px;
  color: #bdbdbd;
}
.div526,
.instance-child38 {
  position: absolute;
  top: calc(50% - 14px);
}
.instance-child38 {
  right: 32px;
  width: 24.5px;
  height: 28px;
}
.div526 {
  left: 58px;
  line-height: 28px;
  font-weight: 500;
}
.right-24px-icon35 {
  position: absolute;
  top: calc(50% - 13px);
  left: 144px;
  width: 30px;
  height: 29px;
  object-fit: contain;
}
.div527 {
  position: absolute;
  top: calc(50% - 14px);
  left: 254px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
}
.group-parent6 {
  position: absolute;
  top: 317px;
  left: 1008px;
  border-radius: 39px;
  border: 2px solid #2787f5;
  box-sizing: border-box;
  width: 648px;
  height: 48px;
  overflow: hidden;
}
.csnoticelist-item,
.group-child108 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child108 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b323 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent57 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon54 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b324 {
  position: relative;
  line-height: 33px;
}
.frame-child83 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent93 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.csnoticelist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
