.div528 {
  position: absolute;
  top: 1736px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div529,
.frame-child85 {
  position: relative;
}
.frame-child85 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div532,
.parent94 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent94 {
  top: 1992px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div532 {
  top: 2047px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance78 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon22 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent20 {
  position: absolute;
  top: 1781px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.csnoticeview-child {
  position: absolute;
  top: 1876px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official22,
.kakaotalk22 {
  position: absolute;
  top: 1883px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk22 {
  top: 1933px;
  left: 892px;
}
.group-child109 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child110 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk23 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent23 {
  position: absolute;
  top: 1920px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance79 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b326 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home21 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon63 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing21 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list21 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs21,
.home-icon21 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs21 {
  top: 238px;
  left: 408px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.right-24px-icon36 {
  position: absolute;
  top: calc(50% - 11px);
  right: 160px;
  width: 23px;
  height: 24px;
  object-fit: contain;
}
.b327 {
  position: absolute;
  top: 0;
  left: 31px;
  line-height: 28px;
}
.right-24px-parent {
  position: absolute;
  top: calc(50% + 1096px);
  right: 1457px;
  width: 183px;
  height: 28px;
}
.b328 {
  position: absolute;
  top: 317px;
  left: 783px;
  font-size: 44px;
  line-height: 48.4px;
  text-align: center;
}
.div533 {
  top: 370px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.coo2,
.div533,
.div534 {
  position: absolute;
  line-height: 28px;
}
.div534 {
  top: 334px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.coo2 {
  top: 370px;
  left: 280px;
}
.csnoticeview-item {
  position: absolute;
  top: 413.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.pdf {
  margin-block-start: 0;
  margin-block-end: 33.6px;
}
.httpsformsglewsru5ras8hhu {
  color: inherit;
}
.kkm030513unistackr-pdf {
  margin: 0;
}
.cladance-container3 {
  position: absolute;
  top: 506px;
  left: 280px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 1360px;
}
.enter-text-here2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: none;
}
.placeholder93 {
  position: absolute;
  width: calc(100% - 62px);
  top: 100px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.p26 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
  white-space: pre-wrap;
}
.coo-container {
  top: 68px;
  left: 32px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 515px;
}
.b329,
.coo-container,
.form85 {
  position: absolute;
}
.b329 {
  top: 16px;
  left: 16px;
  font-size: 32px;
  line-height: 35.2px;
}
.form85 {
  width: 30.16%;
  top: 1378px;
  right: 3.33%;
  left: 66.51%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 294px;
  overflow: hidden;
  font-size: 16px;
}
.file-icon2 {
  position: absolute;
  top: 432px;
  left: 280px;
  width: 24px;
  height: 24px;
}
.cladance-xl {
  position: absolute;
  top: 430px;
  left: 312px;
  line-height: 28px;
}
.csnoticeview-inner,
.group-child111 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child111 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b330 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent58 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon55 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b331 {
  position: relative;
  line-height: 33px;
}
.frame-child87 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent95 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.csnoticeview {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
