.div540 {
  position: absolute;
  top: 1153px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div541,
.frame-child93 {
  position: relative;
}
.frame-child93 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div544,
.parent98 {
  position: absolute;
  font-size: 17px;
}
.parent98 {
  top: 1409px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div544 {
  top: 1464px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance86 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon24 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent22 {
  position: absolute;
  top: 1198px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  font-family: MuseoModerno;
}
.cspromotionview-child {
  position: absolute;
  top: 1303px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official24,
.kakaotalk24 {
  position: absolute;
  top: 1300px;
  left: 870px;
  font-family: "Sans Serif Collection";
}
.kakaotalk24 {
  top: 1350px;
  left: 892px;
}
.group-child115 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child116 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk25 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent25 {
  position: absolute;
  top: 1347px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance87 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
  text-align: left;
}
.b336,
.b337 {
  position: absolute;
  color: #000;
}
.b336 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
  text-align: left;
}
.b337 {
  top: 317px;
  left: calc(50% - 258px);
  font-size: 44px;
  line-height: 48.4px;
}
.home23 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon69,
.right-16px-icon70 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.right-16px-icon70 {
  display: none;
}
.detail47,
.pricing23 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail47 {
  width: 56px;
  display: none;
}
.pricing23 {
  color: #2787f5;
}
.list23 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs23,
.home-icon23 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs23 {
  top: 238px;
  left: 512px;
  width: 286px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  color: #828282;
}
.b338 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 46px);
  line-height: 22.4px;
}
.small-button3 {
  position: absolute;
  top: 321px;
  left: 1522px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 140px;
  height: 48px;
  overflow: hidden;
  color: #fff;
}
.cspromotionview-item {
  position: absolute;
  top: 469px;
  left: 260px;
  background-color: #d9d9d9;
  width: 620px;
  height: 620px;
}
.p28 {
  margin-block-start: 0;
  margin-block-end: 28px;
}
.p31 {
  margin: 0;
}
.b339 {
  position: absolute;
  top: 469px;
  left: 944px;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  color: #000;
  text-align: left;
  width: 716px;
}
.cspromotionview-inner,
.group-child117 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child117 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b340 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent60 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  color: #000;
}
.icon57 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b341 {
  position: relative;
  line-height: 33px;
}
.frame-child95 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent99 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
  color: #000;
}
.cspromotionview {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #727272;
  font-family: "Noto Sans KR";
}
