.div608 {
  position: absolute;
  top: 1901px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div609,
.frame-child105 {
  position: relative;
}
.frame-child105 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div612,
.parent115 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent115 {
  top: 2157px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div612 {
  top: 2212px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance95 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon27 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent25 {
  position: absolute;
  top: 1946px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.csqnaview-child {
  position: absolute;
  top: 2041px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official27,
.kakaotalk27 {
  position: absolute;
  top: 2048px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk27 {
  top: 2098px;
  left: 892px;
}
.group-child127 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child128 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk28 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent28 {
  position: absolute;
  top: 2085px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance96 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b360 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home26 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon78 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing26 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list26 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs26,
.home-icon26 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs26 {
  top: 238px;
  left: 408px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.right-24px-icon39 {
  position: absolute;
  top: calc(50% - 11px);
  right: 160px;
  width: 23px;
  height: 24px;
  object-fit: contain;
}
.b361 {
  position: absolute;
  top: 0;
  left: 31px;
  line-height: 28px;
}
.right-24px-group {
  position: absolute;
  top: calc(50% + 1261px);
  right: 1265px;
  width: 183px;
  height: 28px;
}
.b362 {
  position: absolute;
  top: 317px;
  left: 748px;
  font-size: 44px;
  line-height: 48.4px;
  text-align: center;
}
.div613 {
  top: 370px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.div613,
.div614,
.div615 {
  position: absolute;
  line-height: 28px;
}
.div614 {
  top: 334px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.div615 {
  top: 370px;
  left: 280px;
}
.csqnaview-item {
  position: absolute;
  top: 413.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.p36 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
}
.p38 {
  margin: 0;
}
.div616 {
  position: absolute;
  top: 506px;
  left: 280px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 1360px;
}
.enter-text-here3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: none;
}
.placeholder94 {
  position: absolute;
  width: calc(100% - 62px);
  top: 100px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.p42 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
  white-space: pre-wrap;
}
.coo-container1 {
  top: 68px;
  left: 32px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 515px;
}
.b363,
.coo-container1,
.form86 {
  position: absolute;
}
.b363 {
  top: 16px;
  left: 16px;
  font-size: 32px;
  line-height: 35.2px;
}
.form86 {
  width: 30.16%;
  top: 1543px;
  right: 34.9%;
  left: 34.95%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 294px;
  overflow: hidden;
  font-size: 16px;
}
.file-icon5 {
  position: absolute;
  top: 432px;
  left: 280px;
  width: 24px;
  height: 24px;
}
.cladance-xl1 {
  position: absolute;
  top: 430px;
  left: 312px;
  line-height: 28px;
}
.csqnaview-inner,
.group-child129 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child129 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b364 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent66 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon60 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b365 {
  position: relative;
  line-height: 33px;
}
.frame-child107 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent116 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.csqnaview {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
