.div934 {
  position: absolute;
  top: 2349px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div935,
.frame-child154 {
  position: relative;
}
.frame-child154 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div938,
.parent152 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent152 {
  top: 2605px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div938 {
  top: 2660px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance137 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon39 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent37 {
  position: absolute;
  top: 2394px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.admincsfaqlist-child {
  position: absolute;
  top: 2499px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official39,
.kakaotalk39 {
  position: absolute;
  top: 2496px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk39 {
  top: 2546px;
  left: 892px;
}
.group-child208 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child209 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk40 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent40 {
  position: absolute;
  top: 2543px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance-faq3,
.cladance138 {
  position: absolute;
  text-align: left;
}
.cladance138 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.cladance-faq3 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
  white-space: pre-wrap;
}
.home38 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon114 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing38 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon38,
.list38 {
  position: absolute;
  top: -4px;
}
.list38 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon38 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b580,
.breadcrumbs38 {
  position: absolute;
  text-align: left;
}
.breadcrumbs38 {
  top: 238px;
  left: 853px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.b580 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child76 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title32 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill52 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image49 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child79,
.rectangle-parent119 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child79 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title35,
.title36 {
  position: absolute;
  top: 102px;
  left: 31px;
  line-height: 17.6px;
}
.title36 {
  left: 45px;
}
.instance-parent4 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.b581,
.b582,
.b583 {
  position: absolute;
  top: 28px;
  right: 181px;
  line-height: 28px;
}
.b582,
.b583 {
  right: 64px;
}
.b583 {
  right: 523px;
}
.b584 {
  right: 317px;
}
.b584,
.b585,
.b586 {
  position: absolute;
  top: 28px;
  line-height: 28px;
}
.b585 {
  left: calc(50% - 204px);
  text-align: center;
}
.b586 {
  left: 151px;
}
.box42,
.parent153 {
  position: absolute;
  box-sizing: border-box;
}
.box42 {
  top: 30px;
  left: 47px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #2787f5;
  width: 24px;
  height: 24px;
}
.parent153 {
  top: 673px;
  left: 248px;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 1424px;
  height: 84px;
  overflow: hidden;
  text-align: left;
}
.button-sample34 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 30.5px);
  line-height: 22.4px;
}
.normal-button50 {
  position: absolute;
  top: 2213px;
  left: 272px;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 99px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
}
.button-sample35 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.normal-button51,
.normal-button52,
.normal-button53 {
  position: absolute;
  border-radius: 8px;
  width: 99px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
}
.normal-button51 {
  top: 2213px;
  left: 1549px;
  background-color: #2787f5;
  color: #fff;
}
.normal-button52,
.normal-button53 {
  top: 1261px;
  left: 17292px;
  background-color: #dbecfe;
}
.normal-button53 {
  top: 3435px;
}
.group-child210 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #2787f5;
  width: 48px;
  height: 48px;
}
.b587 {
  position: absolute;
  top: 12px;
  left: 19px;
  line-height: 22.4px;
}
.rectangle-parent124 {
  width: 48px;
  position: relative;
  height: 48px;
  color: #fff;
}
.group-child211 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.rectangle-parent125 {
  width: 48px;
  position: relative;
  height: 48px;
}
.pagination6 {
  position: absolute;
  top: 2237px;
  left: 880px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  font-size: 16px;
  color: #bdbdbd;
}
.div939 {
  position: relative;
  line-height: 22.4px;
}
.frame-child156 {
  width: 15px;
  position: relative;
  height: 10px;
}
.parent154,
.small-button54,
.small-button55 {
  position: absolute;
  overflow: hidden;
  font-size: 16px;
}
.parent154 {
  top: 622px;
  left: 272px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #2787f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 12px;
  gap: 0 12px;
}
.small-button54,
.small-button55 {
  top: 80px;
  right: 34px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  color: #fff;
}
.small-button55 {
  top: 16px;
}
.xxxxxx30 {
  position: absolute;
  top: 56px;
  right: 159px;
  line-height: 28px;
  font-weight: 500;
}
.div940 {
  position: absolute;
  right: 340px;
}
.div940,
.div941,
.div942 {
  top: 56px;
  line-height: 28px;
  font-weight: 500;
}
.div941 {
  position: absolute;
  right: 524px;
}
.div942 {
  width: calc(100% - 843px);
  left: 236px;
  display: inline-block;
}
.box43,
.div942,
.div943 {
  position: absolute;
}
.div943 {
  top: 56px;
  left: 153px;
  line-height: 28px;
  font-weight: 500;
}
.box43 {
  top: 58px;
  left: 48px;
  border-radius: 4px;
  border: 2px solid #e0efff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.small-button-container,
.small-button-group,
.small-button-parent,
.small-button-parent1 {
  position: absolute;
  top: 757px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
  overflow: hidden;
}
.small-button-container,
.small-button-group,
.small-button-parent1 {
  top: 901px;
}
.small-button-container,
.small-button-parent1 {
  top: 1333px;
}
.small-button-parent1 {
  top: 1621px;
}
.small-button-parent2,
.small-button-parent3,
.small-button-parent4,
.small-button-parent5,
.small-button-parent6,
.small-button-parent7 {
  position: absolute;
  top: 1477px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
  overflow: hidden;
}
.small-button-parent3,
.small-button-parent4,
.small-button-parent5,
.small-button-parent6,
.small-button-parent7 {
  top: 1765px;
}
.small-button-parent4,
.small-button-parent5,
.small-button-parent6,
.small-button-parent7 {
  top: 1909px;
}
.small-button-parent5,
.small-button-parent6,
.small-button-parent7 {
  top: 2053px;
  border-bottom: 2px solid #000;
}
.small-button-parent6,
.small-button-parent7 {
  top: 1045px;
  border-bottom: 1px solid #000;
}
.small-button-parent7 {
  top: 1189px;
}
.admincsfaqlist-item,
.group-child213 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child213 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b610 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent127 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon95 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b611 {
  position: relative;
  line-height: 33px;
}
.frame-child157 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent155 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.admincsfaqlist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
