.div1051 {
  position: absolute;
  top: 2818px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1052,
.frame-child176 {
  position: relative;
}
.frame-child176 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.parent166 {
  position: absolute;
  top: 3074px;
  left: 817px;
  width: 287px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
  font-size: 17px;
  color: #727272;
}
.cladance153,
.div1055 {
  position: absolute;
  display: inline-block;
}
.div1055 {
  top: 3129px;
  left: 542px;
  font-size: 17px;
  color: #727272;
  white-space: pre-wrap;
  width: 837px;
}
.cladance153 {
  top: 0;
  left: 83px;
  font-weight: 600;
  width: 225px;
}
.image-5-icon44 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent42 {
  position: absolute;
  top: 2863px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.admincsqnaview-child {
  position: absolute;
  top: 2958px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official44,
.kakaotalk44 {
  position: absolute;
  top: 2965px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
  display: inline-block;
  width: 224px;
}
.kakaotalk44 {
  top: 3015px;
  left: 892px;
  width: 189px;
}
.group-child229 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child230 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk45 {
  position: absolute;
  top: 1px;
  left: 6px;
  display: inline-block;
  width: 32px;
}
.ellipse-parent45 {
  position: absolute;
  top: 3002px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b662,
.cladance154 {
  position: absolute;
  text-align: left;
}
.cladance154 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b662 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home43 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon129 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing43 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list43 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs43,
.home-icon43 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs43 {
  top: 238px;
  left: 512px;
  width: 286px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  color: #828282;
}
.right-24px-icon58 {
  position: absolute;
  top: calc(50% - 11px);
  right: 160px;
  width: 23px;
  height: 24px;
  object-fit: contain;
}
.b663 {
  position: absolute;
  top: 0;
  left: 31px;
  line-height: 28px;
  display: inline-block;
  width: 152px;
}
.right-24px-parent2 {
  position: absolute;
  top: calc(50% + 2074px);
  right: 1265px;
  width: 183px;
  height: 28px;
  text-align: left;
  font-size: 20px;
}
.b664 {
  position: absolute;
  top: 317px;
  left: 738px;
  font-size: 44px;
  line-height: 48.4px;
}
.div1056 {
  top: 370px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.coo10,
.div1056,
.div1057 {
  position: absolute;
  font-size: 20px;
  line-height: 28px;
}
.div1057 {
  top: 334px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.coo10 {
  top: 370px;
  left: 280px;
  text-align: left;
}
.admincsqnaview-item {
  position: absolute;
  top: 413.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.p75 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
}
.kkm030513unistackr4 {
  color: inherit;
}
.kkm030513unistackr-pdf3 {
  margin: 0;
}
.cladance-container6 {
  position: absolute;
  top: 538px;
  left: 280px;
  font-size: 24px;
  line-height: 33.6px;
  text-align: left;
  display: inline-block;
  width: 1360px;
}
.enter-text-here6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: none;
}
.placeholder146 {
  position: absolute;
  width: calc(100% - 62px);
  top: 100px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.p81 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
  white-space: pre-wrap;
}
.coo11 {
  top: 68px;
  left: 32px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 515px;
}
.b665,
.coo11,
.form136 {
  position: absolute;
}
.b665 {
  top: 16px;
  left: 16px;
  font-size: 32px;
  line-height: 35.2px;
}
.form136 {
  width: 30.16%;
  top: 2390px;
  right: 34.9%;
  left: 34.95%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 260px;
  overflow: hidden;
  text-align: left;
}
.button-sample47 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.normal-button63,
.normal-button64 {
  position: absolute;
  top: 2714px;
  left: 1573px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 99px;
  height: 40px;
  overflow: hidden;
  color: #fff;
}
.normal-button64 {
  left: 1458px;
  background-color: #ff5454;
}
.b666 {
  position: absolute;
  top: 462px;
  left: 280px;
  font-size: 40px;
  line-height: 44px;
  text-align: left;
}
.admincsqnaview-inner,
.group-child231 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child231 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b667 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.icon102,
.rectangle-parent140 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
}
.icon102 {
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b668 {
  position: relative;
  line-height: 33px;
}
.frame-child178 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent167 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.admincsqnaview {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
