.div1074 {
  position: absolute;
  top: 2451px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1075,
.frame-child192 {
  position: relative;
}
.frame-child192 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1078,
.parent174 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent174 {
  top: 2707px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div1078 {
  top: 2762px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance167 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon48 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent46 {
  position: absolute;
  top: 2496px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.adminschedule-child {
  position: absolute;
  top: 2601px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official48,
.kakaotalk48 {
  position: absolute;
  top: 2598px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk48 {
  top: 2648px;
  left: 892px;
}
.group-child241 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child242 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk49 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent49 {
  position: absolute;
  top: 2645px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance168,
.cladance169 {
  position: absolute;
  text-align: left;
}
.cladance168 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.cladance169 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home47 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon141 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail94 {
  width: 62px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.right-16px-icon142 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.detail95,
.pricing47 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail95 {
  width: 56px;
  display: none;
}
.pricing47 {
  color: #2787f5;
}
.home-icon47,
.list47 {
  position: absolute;
  top: -4px;
}
.list47 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon47 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b686,
.breadcrumbs47 {
  position: absolute;
  text-align: left;
}
.breadcrumbs47 {
  top: 238px;
  left: 615px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b686 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child91 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title47 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill67 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image64 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.rectangle-parent149 {
  width: 120px;
  position: relative;
  height: 144px;
}
.title50 {
  position: absolute;
  top: 102px;
  left: 31px;
  line-height: 17.6px;
}
.instance-child95 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
  width: 120px;
  height: 144px;
}
.title51 {
  position: absolute;
  top: 102px;
  left: 45px;
  line-height: 17.6px;
}
.instance-parent7 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
}
.frame-child194 {
  position: absolute;
  top: 356px;
  left: 283px;
  border-radius: 50%;
  background-color: #2f2be0;
  width: 43px;
  height: 43px;
}
.frame-child195,
.frame-child196,
.frame-child197,
.frame-child198 {
  position: absolute;
  top: 402px;
  left: 821px;
  border-radius: 35px;
  background-color: #2787f5;
  width: 188px;
  height: 32px;
}
.frame-child196,
.frame-child197,
.frame-child198 {
  left: 211px;
}
.frame-child197,
.frame-child198 {
  top: 552px;
  left: 414px;
  background-color: #27ae60;
}
.frame-child198 {
  top: 252px;
  left: 618px;
  background-color: #092441;
  width: 594px;
}
.div1079,
.div1080,
.div1081,
.div1082 {
  position: absolute;
  top: 406px;
  left: 884px;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  color: #fff;
}
.div1080,
.div1081,
.div1082 {
  left: 274px;
}
.div1081,
.div1082 {
  top: 556px;
  left: 477px;
}
.div1082 {
  top: 256px;
  left: 650px;
}
.frame-child199,
.frame-child200,
.frame-child201,
.frame-child202,
.frame-child203,
.frame-child204 {
  position: absolute;
  top: -0.5px;
  left: 202.5px;
  border-right: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1px;
  height: 800px;
}
.frame-child200,
.frame-child201,
.frame-child202,
.frame-child203,
.frame-child204 {
  left: 609.5px;
}
.frame-child201,
.frame-child202,
.frame-child203,
.frame-child204 {
  left: 1016.5px;
}
.frame-child202,
.frame-child203,
.frame-child204 {
  left: 405.5px;
}
.frame-child203,
.frame-child204 {
  left: 812.5px;
}
.frame-child204 {
  left: 1219.5px;
}
.frame-child205,
.frame-child206 {
  position: absolute;
  top: 199.5px;
  left: -0.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.frame-child206 {
  top: 49.5px;
  left: -1.5px;
  border-top: 3px solid #000;
  width: 1426px;
  height: 3px;
}
.b687,
.sun1 {
  position: absolute;
  line-height: 33.6px;
}
.sun1 {
  top: 8px;
  left: 76px;
  color: #ff5454;
}
.b687 {
  top: 60px;
  left: 87px;
  color: rgba(255, 84, 84, 0.5);
}
.b688,
.b689 {
  color: #ff5454;
}
.b688 {
  position: absolute;
  top: 209px;
  left: 94px;
  line-height: 33.6px;
}
.b689 {
  top: 359px;
  left: 87px;
}
.b689,
.b690,
.mon1 {
  position: absolute;
  line-height: 33.6px;
}
.b690 {
  top: 509px;
  left: 87px;
  color: #ff5454;
}
.mon1 {
  top: 8px;
  left: 276px;
}
.b691 {
  top: 60px;
  left: 290px;
  color: rgba(0, 0, 0, 0.5);
}
.b691,
.b692,
.b693,
.b694 {
  position: absolute;
  line-height: 33.6px;
}
.b692 {
  top: 209px;
  left: 297px;
}
.b693,
.b694 {
  left: 290px;
}
.b693 {
  top: 359px;
  color: #fff;
}
.b694 {
  top: 509px;
}
.tue1 {
  top: 8px;
  left: 483px;
}
.b695,
.b696,
.tue1 {
  position: absolute;
  line-height: 33.6px;
}
.b695 {
  top: 60px;
  left: 493px;
  color: rgba(0, 0, 0, 0.5);
}
.b696 {
  top: 209px;
  left: 500px;
}
.b697,
.b698,
.b699,
.b700,
.b701,
.b702,
.wed1 {
  position: absolute;
  top: 359px;
  left: 493px;
  line-height: 33.6px;
}
.b698,
.b699,
.b700,
.b701,
.b702,
.wed1 {
  top: 509px;
}
.b699,
.b700,
.b701,
.b702,
.wed1 {
  top: 8px;
  left: 684px;
}
.b699,
.b700,
.b701,
.b702 {
  top: 60px;
  left: 704px;
}
.b700,
.b701,
.b702 {
  top: 209px;
}
.b701,
.b702 {
  top: 359px;
  left: 697px;
}
.b702 {
  top: 509px;
}
.b703,
.b704,
.b705,
.b706,
.b707,
.fri1,
.thu1 {
  position: absolute;
  top: 8px;
  left: 888px;
  line-height: 33.6px;
}
.b703,
.b704,
.b705,
.b706,
.b707,
.fri1 {
  top: 60px;
  left: 907px;
}
.b704,
.b705,
.b706,
.b707,
.fri1 {
  top: 209px;
}
.b705,
.b706,
.b707,
.fri1 {
  top: 359px;
  left: 900px;
}
.b706,
.b707,
.fri1 {
  top: 509px;
}
.b707,
.fri1 {
  top: 8px;
  left: 1099px;
}
.b707 {
  top: 60px;
  left: 1111px;
}
.b708,
.b709,
.b710,
.b711,
.b712,
.b713,
.b714,
.sat1 {
  position: absolute;
  top: 209px;
  left: 1104px;
  line-height: 33.6px;
}
.b709,
.b710,
.b711,
.b712,
.b713,
.b714,
.sat1 {
  top: 359px;
}
.b710,
.b711,
.b712,
.b713,
.b714,
.sat1 {
  top: 509px;
}
.b711,
.b712,
.b713,
.b714,
.sat1 {
  top: 8px;
  left: 1299px;
  color: #2787f5;
}
.b711,
.b712,
.b713,
.b714 {
  top: 60px;
  left: 1314px;
}
.b712,
.b713,
.b714 {
  top: 209px;
  left: 1307px;
}
.b713,
.b714 {
  top: 359px;
}
.b714 {
  top: 509px;
}
.frame-child207,
.frame-child208,
.frame-child209 {
  position: absolute;
  top: 499.5px;
  left: -0.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.frame-child208,
.frame-child209 {
  top: 349.5px;
}
.frame-child209 {
  top: 649.5px;
}
.b715,
.b716,
.b717,
.b718,
.b719,
.b720,
.b721 {
  position: absolute;
  top: 659px;
  line-height: 33.6px;
}
.b715 {
  left: 87px;
  color: #ff5454;
}
.b716,
.b717,
.b718,
.b719,
.b720,
.b721 {
  left: 290px;
}
.b717,
.b718,
.b719,
.b720,
.b721 {
  left: 493px;
}
.b718,
.b719,
.b720,
.b721 {
  left: 697px;
}
.b719,
.b720,
.b721 {
  left: 900px;
}
.b720,
.b721 {
  left: 1111px;
  color: rgba(0, 0, 0, 0.5);
}
.b721 {
  left: 1314px;
  color: rgba(39, 135, 245, 0.5);
}
.ellipse-parent50 {
  position: absolute;
  top: 682px;
  left: 248px;
  border-radius: 16px;
  background-color: #f8fbff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1424px;
  height: 800px;
  overflow: hidden;
  font-size: 24px;
}
.november {
  position: absolute;
  top: 601px;
  left: calc(50% - 113px);
  font-size: 44px;
  line-height: 48.4px;
}
.right-24px-icon59,
.right-24px-icon60 {
  position: absolute;
  top: calc(50% + 65px);
  width: 42px;
  height: 44px;
}
.right-24px-icon59 {
  right: 1270px;
  object-fit: contain;
}
.right-24px-icon60 {
  right: 608px;
}
.button-sample76 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.normal-button104,
.normal-button105 {
  position: absolute;
  top: 2332px;
  left: 653px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 275px;
  height: 55px;
  overflow: hidden;
  color: #fff;
}
.normal-button105 {
  left: 992px;
  background-color: #ff5454;
}
.adminschedule-item {
  position: absolute;
  top: 1529.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.adminschedule-inner {
  position: absolute;
  top: 1578px;
  left: 248px;
  border-radius: 14px;
  background-color: #dbecfe;
  width: 1424px;
  height: 108px;
}
.b722,
.b723,
.mon2 {
  position: absolute;
  top: 1608px;
  left: 727px;
  font-size: 44px;
  line-height: 48.4px;
}
.b723,
.mon2 {
  left: 1089px;
}
.b723 {
  top: 1750px;
  left: 280px;
  font-size: 32px;
  line-height: 35.2px;
  display: inline-block;
  width: 1360px;
}
.p87 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
}
.p88 {
  margin: 0;
}
.div1083 {
  position: absolute;
  top: 1831px;
  left: 280px;
  font-size: 24px;
  line-height: 33.6px;
  text-align: left;
  display: inline-block;
  width: 1360px;
}
.adminschedule-child1,
.group-child243 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child243 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b724 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.icon106,
.rectangle-parent154 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
}
.icon106 {
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b725 {
  position: relative;
  line-height: 33px;
}
.frame-child210 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent175 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.adminschedule {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
