.div853 {
  position: absolute;
  top: 2349px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div854,
.frame-child137 {
  position: relative;
}
.frame-child137 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div857,
.parent143 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent143 {
  top: 2605px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div857 {
  top: 2660px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance124 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon35 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent33 {
  position: absolute;
  top: 2394px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.admincsnoticelist-child {
  position: absolute;
  top: 2499px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official35,
.kakaotalk35 {
  position: absolute;
  top: 2496px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk35 {
  top: 2546px;
  left: 892px;
}
.group-child186 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child187 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk36 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent36 {
  position: absolute;
  top: 2543px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b522,
.cladance125 {
  position: absolute;
  text-align: left;
}
.cladance125 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b522 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home34 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon102 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing34 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon34,
.list34 {
  position: absolute;
  top: -4px;
}
.list34 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon34 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b523,
.breadcrumbs34 {
  position: absolute;
  text-align: left;
}
.breadcrumbs34 {
  top: 238px;
  left: 512px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.b523 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child71 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title27 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill46 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image44 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child74,
.rectangle-parent107 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child74 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title30,
.title31 {
  position: absolute;
  top: 102px;
  left: 31px;
  line-height: 17.6px;
}
.title31 {
  left: 45px;
}
.instance-parent3 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.box31 {
  position: absolute;
  top: 30px;
  left: 47px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #2787f5;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.b524 {
  left: 151px;
}
.b524,
.b525,
.b526,
.b527,
.b528,
.b529,
.b530 {
  position: absolute;
  top: 28px;
  line-height: 28px;
}
.b525 {
  left: calc(50% - 272px);
  text-align: center;
}
.b526,
.b527,
.b528,
.b529,
.b530 {
  right: 453px;
}
.b527,
.b528,
.b529,
.b530 {
  right: 659px;
}
.b528,
.b529,
.b530 {
  right: 64px;
}
.b529,
.b530 {
  right: 181px;
}
.b530 {
  right: 317px;
}
.box-parent9,
.box32 {
  position: absolute;
  box-sizing: border-box;
}
.box-parent9 {
  top: 673px;
  left: 248px;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 1424px;
  height: 84px;
  overflow: hidden;
  text-align: left;
}
.box32 {
  top: 60px;
  left: 48px;
  border-radius: 4px;
  border: 2px solid #e0efff;
  width: 24px;
  height: 24px;
}
.div858 {
  top: 58px;
  left: 153px;
  line-height: 28px;
  font-weight: 500;
}
.div858,
.div859,
.div860 {
  position: absolute;
}
.div859 {
  width: calc(100% - 978px);
  top: 58px;
  left: 236px;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.div860 {
  right: 659px;
}
.div860,
.div861,
.div862 {
  top: 58px;
  line-height: 28px;
  font-weight: 500;
}
.div861 {
  position: absolute;
  right: 476px;
}
.div862 {
  right: 297px;
}
.b531,
.div862,
.xxxxxx20 {
  position: absolute;
}
.xxxxxx20 {
  top: 58px;
  right: 159px;
  line-height: 28px;
  font-weight: 500;
}
.b531 {
  top: calc(50% - 12px);
  left: calc(50% - 30.5px);
  line-height: 22.4px;
}
.small-button34 {
  top: 18px;
  right: 34px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  font-size: 16px;
  color: #fff;
}
.box-parent10,
.small-button34,
.small-button35 {
  position: absolute;
  overflow: hidden;
}
.small-button35 {
  top: 82px;
  right: 34px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  font-size: 16px;
  color: #fff;
}
.box-parent10 {
  top: 757px;
}
.box-parent10,
.box-parent11,
.box-parent12 {
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
}
.box-parent11 {
  position: absolute;
  top: 1045px;
  overflow: hidden;
}
.box-parent12 {
  top: 901px;
}
.box-parent12,
.box-parent13,
.normal-button41 {
  position: absolute;
  overflow: hidden;
}
.box-parent13 {
  top: 1189px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
}
.normal-button41 {
  top: 2213px;
  left: 272px;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 99px;
  height: 40px;
  font-size: 16px;
}
.button-sample26 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.group-child188,
.normal-button42 {
  position: absolute;
  background-color: #2787f5;
}
.normal-button42 {
  top: 2213px;
  left: 1549px;
  border-radius: 8px;
  width: 99px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.group-child188 {
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 48px;
  height: 48px;
}
.b539 {
  position: absolute;
  top: 12px;
  left: 19px;
  line-height: 22.4px;
}
.rectangle-parent112 {
  width: 48px;
  position: relative;
  height: 48px;
  color: #fff;
}
.group-child189 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.rectangle-parent113 {
  width: 48px;
  position: relative;
  height: 48px;
}
.pagination5 {
  position: absolute;
  top: 2237px;
  left: 880px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  font-size: 16px;
  color: #bdbdbd;
}
.box-parent14,
.box-parent15,
.box-parent16,
.box-parent17,
.box-parent18,
.box-parent19 {
  position: absolute;
  top: 1333px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
  overflow: hidden;
}
.box-parent15,
.box-parent16,
.box-parent17,
.box-parent18,
.box-parent19 {
  top: 1621px;
}
.box-parent16,
.box-parent17,
.box-parent18,
.box-parent19 {
  top: 1477px;
}
.box-parent17,
.box-parent18,
.box-parent19 {
  top: 1765px;
}
.box-parent18,
.box-parent19 {
  top: 1909px;
}
.box-parent19 {
  top: 2053px;
  border-bottom: 2px solid #000;
}
.div908 {
  position: relative;
  line-height: 22.4px;
}
.frame-child139 {
  width: 15px;
  position: relative;
  height: 10px;
}
.parent144 {
  position: absolute;
  top: 622px;
  left: 272px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #2787f5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 12px;
  gap: 0 12px;
  font-size: 16px;
}
.admincsnoticelist-item,
.group-child191 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child191 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b554 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent115 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon89 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b555 {
  position: relative;
  line-height: 33px;
}
.frame-child140 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent145 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.admincsnoticelist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
