.div627 {
  position: absolute;
  top: 6270px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div628,
.frame-child113 {
  position: relative;
}
.frame-child113 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div631,
.parent119 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent119 {
  top: 6526px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div631 {
  top: 6581px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance101 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon29 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent27 {
  position: absolute;
  top: 6315px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.adminindex-child {
  position: absolute;
  top: 6420px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official29,
.kakaotalk29 {
  position: absolute;
  top: 6417px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk29 {
  top: 6467px;
  left: 892px;
}
.group-child139 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child140 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk30 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent30 {
  position: absolute;
  top: 6464px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance102 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b375 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home28 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon84 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail56,
.right-16px-icon85 {
  position: relative;
  display: none;
}
.detail56 {
  width: 66px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon85 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail57,
.pricing28 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail57 {
  width: 56px;
  display: none;
}
.pricing28 {
  color: #2787f5;
}
.list28 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs28,
.home-icon28 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs28 {
  top: 238px;
  left: 615px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b376 {
  position: absolute;
  top: 1069px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.adminindex-child1,
.adminindex-inner,
.adminindex-item {
  position: absolute;
  top: 1144px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.adminindex-child1,
.adminindex-inner {
  top: 1211.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.adminindex-child1 {
  top: 1278.5px;
}
.cladance103,
.div632,
.div633 {
  position: absolute;
  top: 1161px;
  left: 256px;
  line-height: 33.6px;
}
.cladance103,
.div633 {
  top: 1228px;
}
.div633 {
  top: 1295px;
}
.adminindex-child2,
.adminindex-child3,
.adminindex-child4 {
  position: absolute;
  top: 1345.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.adminindex-child3,
.adminindex-child4 {
  top: 1412.5px;
}
.adminindex-child4 {
  top: 1479px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div634 {
  position: absolute;
  top: 1362px;
  left: 256px;
}
.div634,
.div635,
.div636 {
  line-height: 33.6px;
}
.div635 {
  position: absolute;
  top: 1429px;
  left: 256px;
}
.div636 {
  top: 1161px;
  left: 1570px;
  text-align: right;
}
.div636,
.div637,
.div638 {
  position: absolute;
}
.div637 {
  top: 1228px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div638 {
  top: 1295px;
}
.div638,
.div639,
.div640 {
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div639 {
  position: absolute;
  top: 1362px;
}
.div640 {
  top: 1429px;
}
.b377,
.div640,
.div641 {
  position: absolute;
}
.div641 {
  top: 1103px;
  left: 1573px;
  line-height: 33.6px;
  font-weight: 500;
  text-align: right;
}
.b377 {
  top: 2221px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.adminindex-child5,
.adminindex-child6,
.adminindex-child7 {
  position: absolute;
  top: 2296px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.adminindex-child6,
.adminindex-child7 {
  top: 2363.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.adminindex-child7 {
  top: 2430.5px;
}
.cladance104,
.div642,
.div643 {
  position: absolute;
  top: 2313px;
  left: 256px;
  line-height: 33.6px;
}
.cladance104,
.div643 {
  top: 2380px;
}
.div643 {
  top: 2447px;
}
.adminindex-child10,
.adminindex-child8,
.adminindex-child9 {
  position: absolute;
  top: 2497.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.adminindex-child10,
.adminindex-child9 {
  top: 2564.5px;
}
.adminindex-child10 {
  top: 2631px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div644,
.div645,
.div646 {
  position: absolute;
  top: 2514px;
  left: 256px;
  line-height: 33.6px;
}
.div645,
.div646 {
  top: 2581px;
}
.div646 {
  top: 2313px;
  left: 1570px;
  text-align: right;
}
.div647,
.div648,
.div649,
.div650,
.div651,
.kk5,
.kk6,
.kk7,
.kk8,
.kk9 {
  position: absolute;
  top: 2313px;
  left: 1467px;
  line-height: 33.6px;
  text-align: right;
}
.div647,
.div648,
.div649,
.div650,
.div651,
.kk6,
.kk7,
.kk8,
.kk9 {
  top: 2447px;
}
.div647,
.div648,
.div649,
.div650,
.div651,
.kk7,
.kk8,
.kk9 {
  top: 2380px;
}
.div647,
.div648,
.div649,
.div650,
.div651,
.kk8,
.kk9 {
  top: 2514px;
}
.div647,
.div648,
.div649,
.div650,
.div651,
.kk9 {
  top: 2581px;
}
.div647,
.div648,
.div649,
.div650,
.div651 {
  top: 2380px;
  left: 1570px;
}
.div648,
.div649,
.div650,
.div651 {
  top: 2447px;
}
.div649,
.div650,
.div651 {
  top: 2514px;
}
.div650,
.div651 {
  top: 2581px;
}
.div651 {
  top: 2255px;
  left: 1573px;
  font-weight: 500;
}
.adminindex-child11 {
  position: absolute;
  top: 1821px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.adminindex-child12,
.adminindex-child13 {
  position: absolute;
  top: 1888.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.adminindex-child13 {
  top: 1955.5px;
}
.cladance105,
.div652,
.div653 {
  position: absolute;
  top: 1838px;
  left: 256px;
  line-height: 33.6px;
}
.cladance105,
.div653 {
  top: 1905px;
}
.div653 {
  top: 1972px;
}
.adminindex-child14,
.adminindex-child15,
.adminindex-child16 {
  position: absolute;
  top: 2022.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.adminindex-child15,
.adminindex-child16 {
  top: 2089.5px;
}
.adminindex-child16 {
  top: 2156px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div654,
.div655 {
  position: absolute;
  top: 2039px;
  left: 256px;
  line-height: 33.6px;
}
.div655 {
  top: 2106px;
}
.div656,
.div657,
.div658,
.div659,
.div660,
.div661,
.div662 {
  position: absolute;
  top: 1838px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div657,
.div658,
.div659,
.div660,
.div661,
.div662 {
  top: 1905px;
}
.div658,
.div659,
.div660,
.div661,
.div662 {
  top: 1972px;
}
.div659,
.div660,
.div661,
.div662 {
  top: 2039px;
}
.div660,
.div661,
.div662 {
  top: 2106px;
}
.div661,
.div662 {
  top: 1780px;
  left: 1573px;
  font-weight: 500;
}
.div662 {
  top: 5490px;
}
.cladance-faq2,
.cladance106,
.cladance107 {
  position: absolute;
  top: 4695px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.cladance-faq2,
.cladance107 {
  top: 5456px;
}
.cladance-faq2 {
  top: 1544px;
}
.instance-child41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title6 {
  position: absolute;
  top: 102px;
  left: 44px;
  line-height: 17.6px;
}
.image-fill19 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image18 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
  text-align: center;
}
.rectangle-parent68 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-group {
  position: absolute;
  top: 1620px;
  left: 258px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.shdow15 {
  position: absolute;
  top: 296px;
  left: 23.3px;
  border-radius: 8px;
  background-color: rgba(189, 189, 189, 0.8);
  filter: blur(36px);
  width: 383.4px;
  height: 250px;
}
.background23,
.image-icon15 {
  position: absolute;
  left: 0;
  width: 421px;
}
.background23 {
  top: 276px;
  border-radius: 8px;
  background-color: #fff;
  height: 398px;
}
.image-icon15 {
  top: 0;
  border-radius: 8px 8px 0 0;
  height: 421px;
  object-fit: cover;
}
.link15 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 16.5px);
  line-height: 22.4px;
}
.normal-button34 {
  position: absolute;
  top: 595px;
  left: 24px;
  border-radius: 8px;
  background-color: #092c4c;
  width: 373px;
  height: 55px;
  overflow: hidden;
}
.body15 {
  top: 35px;
  left: 0;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
  height: 91px;
}
.body15,
.card-title15,
.content15 {
  position: absolute;
  width: 373px;
}
.card-title15 {
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 26.4px;
  display: inline-block;
  color: #092c4c;
}
.content15 {
  top: 445px;
  left: 24px;
  height: 126px;
  text-align: left;
  color: #4f4f4f;
}
.image-cardcta15,
.image-cardcta16,
.image-cardcta17 {
  position: absolute;
  top: 5532px;
  left: 248px;
  width: 421px;
  height: 674px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.image-cardcta16,
.image-cardcta17 {
  left: 749px;
}
.image-cardcta17 {
  left: 1251px;
}
.group-child141 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 621.2px;
}
.group-child142 {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 16px 16px 0 0;
  background-color: #d3e7fc;
  width: 1422px;
  height: 131px;
}
.group-child143,
.group-child144,
.group-child145,
.group-child146 {
  position: absolute;
  top: 229.1px;
  left: 1.3px;
  border-top: 1px solid #bebebe;
  box-sizing: border-box;
  width: 1421.4px;
  height: 1px;
}
.group-child144,
.group-child145,
.group-child146 {
  top: 327px;
}
.group-child145,
.group-child146 {
  top: 424.9px;
}
.group-child146 {
  top: 522.8px;
}
.div663,
.div664,
.mon {
  position: absolute;
  display: inline-block;
}
.mon {
  top: 89px;
  left: 275.9px;
  line-height: 26.4px;
  text-align: center;
  width: 58.7px;
  height: 35.6px;
}
.div663,
.div664 {
  line-height: 33.6px;
  font-weight: 500;
  width: 33.8px;
  height: 40.9px;
}
.div663 {
  top: 138.8px;
  left: 14.2px;
  color: #e02b6c;
}
.div664 {
  top: 334.6px;
}
.div664,
.div665,
.div666 {
  left: 14.2px;
  color: #e02b6c;
}
.div665 {
  position: absolute;
  top: 236.7px;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div666 {
  top: 432.5px;
}
.div666,
.div667,
.div668,
.div669,
.div670 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div667 {
  top: 530.4px;
  left: 14.2px;
  color: #e02b6c;
}
.div668,
.div669,
.div670 {
  left: 218.9px;
}
.div668 {
  top: 138.8px;
  color: #e02b6c;
}
.div669,
.div670 {
  top: 334.6px;
}
.div670 {
  top: 236.7px;
  color: #e02b6c;
}
.div671 {
  top: 432.5px;
  left: 218.9px;
}
.div671,
.div672,
.div673,
.div674,
.div675,
.div676,
.div677,
.div678,
.div679,
.div680 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div672 {
  top: 530.4px;
  left: 218.9px;
}
.div673,
.div674,
.div675,
.div676,
.div677,
.div678,
.div679,
.div680 {
  left: 421.9px;
}
.div673 {
  top: 138.8px;
  color: #e02b6c;
}
.div674,
.div675,
.div676,
.div677,
.div678,
.div679,
.div680 {
  top: 334.6px;
}
.div675,
.div676,
.div677,
.div678,
.div679,
.div680 {
  top: 236.7px;
}
.div676,
.div677,
.div678,
.div679,
.div680 {
  top: 432.5px;
}
.div677,
.div678,
.div679,
.div680 {
  top: 530.4px;
}
.div678,
.div679,
.div680 {
  top: 138.8px;
  left: 624.8px;
}
.div679,
.div680 {
  top: 334.6px;
}
.div680 {
  top: 236.7px;
}
.div681 {
  top: 432.5px;
  left: 624.8px;
}
.div681,
.div682,
.div683,
.div684,
.div685 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div682 {
  top: 530.4px;
  left: 624.8px;
  color: #adadad;
}
.div683,
.div684,
.div685 {
  top: 138.8px;
  left: 1030.6px;
}
.div684,
.div685 {
  top: 334.6px;
}
.div685 {
  top: 236.7px;
}
.div686 {
  top: 432.5px;
  left: 1030.6px;
}
.div686,
.div687,
.div688,
.div689,
.div690,
.div691,
.div692,
.div693,
.div694,
.div695,
.div696,
.div697 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div687 {
  top: 530.4px;
  left: 1030.6px;
  color: #adadad;
}
.div688,
.div689,
.div690,
.div691,
.div692,
.div693,
.div694,
.div695,
.div696,
.div697 {
  top: 138.8px;
  left: 827.7px;
}
.div689,
.div690,
.div691,
.div692,
.div693,
.div694,
.div695,
.div696,
.div697 {
  top: 334.6px;
}
.div690,
.div691,
.div692,
.div693,
.div694,
.div695,
.div696,
.div697 {
  top: 236.7px;
}
.div691,
.div692,
.div693,
.div694,
.div695,
.div696,
.div697 {
  top: 432.5px;
}
.div692,
.div693,
.div694,
.div695,
.div696,
.div697 {
  top: 530.4px;
  color: #adadad;
}
.div693,
.div694,
.div695,
.div696,
.div697 {
  top: 138.8px;
  left: 1233.5px;
  color: #2787f5;
}
.div694,
.div695,
.div696,
.div697 {
  top: 334.6px;
}
.div695,
.div696,
.div697 {
  top: 236.7px;
}
.div696,
.div697 {
  top: 432.5px;
}
.div697 {
  top: 530.4px;
  color: #adadad;
}
.fri,
.october,
.sat,
.sun,
.thu,
.tue,
.wed {
  position: absolute;
  top: 89px;
  left: 484.2px;
  line-height: 26.4px;
  display: inline-block;
  text-align: center;
  width: 49.8px;
  height: 35.6px;
}
.fri,
.october,
.sat,
.sun,
.thu,
.wed {
  left: 683.5px;
  width: 55.2px;
}
.fri,
.october,
.sat,
.sun,
.thu {
  left: 888.2px;
  width: 53.4px;
}
.fri,
.october,
.sat,
.sun {
  left: 1098.3px;
  width: 39.2px;
}
.october,
.sat,
.sun {
  left: 1299.4px;
  width: 44.5px;
}
.october,
.sun {
  left: 74.8px;
  width: 53.4px;
}
.october {
  top: 16px;
  left: 569.6px;
  font-size: 40px;
  line-height: 44px;
  width: 284.8px;
  height: 64.1px;
}
.group-child147,
.group-child148,
.group-child149,
.group-child150,
.group-child151,
.group-child152 {
  position: absolute;
  top: 131.2px;
  left: 813px;
  border-right: 1px solid #bebebe;
  box-sizing: border-box;
  width: 1px;
  height: 490.5px;
}
.group-child148,
.group-child149,
.group-child150,
.group-child151,
.group-child152 {
  left: 407.1px;
}
.group-child149,
.group-child150,
.group-child151,
.group-child152 {
  left: 204.2px;
}
.group-child150,
.group-child151,
.group-child152 {
  left: 1015.9px;
}
.group-child151,
.group-child152 {
  left: 1218.8px;
}
.group-child152 {
  left: 610px;
}
.group-child153,
.group-child154 {
  position: absolute;
  top: 281.2px;
  left: 421.9px;
  border-radius: 49px 0 0 49px;
  background-color: #2bcae0;
  width: 1000.4px;
  height: 35.6px;
}
.group-child154 {
  top: 379.1px;
  left: 1.8px;
  border-radius: 0 49px 49px 0;
  width: 1408px;
}
.div698 {
  position: absolute;
  top: 287px;
  left: 443px;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 317px;
  height: 25px;
}
.rectangle-parent74 {
  position: absolute;
  top: 4771px;
  left: 248px;
  width: 1424px;
  height: 621.2px;
}
.component-16-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
.b378,
.b379 {
  position: absolute;
  display: inline-block;
}
.b378 {
  top: 24px;
  left: calc(50% - 133px);
  line-height: 26.4px;
  width: 266px;
  height: 35px;
}
.b379 {
  top: 84px;
  left: calc(50% - 139px);
  font-size: 32px;
  line-height: 35.2px;
  color: #ff5454;
  width: 277px;
}
.component-16,
.component-20 {
  position: absolute;
  top: 677px;
  left: 248px;
  width: 332px;
  height: 144px;
  text-align: center;
}
.component-20 {
  top: 861px;
}
.component-17,
.component-18,
.component-19,
.component-21,
.component-22,
.component-23 {
  position: absolute;
  top: 677px;
  left: 976px;
  width: 332px;
  height: 144px;
  text-align: center;
}
.component-17,
.component-19,
.component-21,
.component-22,
.component-23 {
  top: 861px;
}
.component-17,
.component-19,
.component-22,
.component-23 {
  top: 677px;
  left: 612px;
}
.component-19,
.component-22,
.component-23 {
  top: 861px;
}
.component-19,
.component-23 {
  top: 677px;
  left: 1340px;
}
.component-23 {
  top: 861px;
}
.b394 {
  position: absolute;
  top: 601px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.b395,
.b396,
.top-5 {
  position: absolute;
  top: 2696px;
  left: 257px;
  font-size: 42px;
}
.b395,
.b396 {
  width: calc(100% - 523px);
  top: 20px;
  left: 209px;
  font-size: 24px;
  line-height: 26.4px;
  display: inline-block;
  text-align: left;
}
.b396 {
  top: 55px;
  color: #ff5454;
}
.span100 {
  color: #3a59ff;
}
.div699 {
  position: absolute;
  width: calc(100% - 564px);
  top: 90px;
  left: 209px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.div700,
.div701,
.div702 {
  position: absolute;
  top: 95px;
  right: 174px;
  line-height: 22.4px;
  color: #787878;
}
.div701,
.div702 {
  right: 32px;
}
.div702 {
  top: 20px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #fe3636;
  text-align: left;
}
.group-child155 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #dbecfe;
  width: 157px;
}
.component-30-child {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: 32px;
  width: 157px;
}
.div703 {
  position: absolute;
  width: calc(100% - 233px);
  bottom: 42px;
  left: 209px;
  line-height: 22.4px;
  color: #787878;
  display: inline-block;
}
.image-fill25,
.no-image24 {
  position: absolute;
  top: calc(50% - 12px);
}
.no-image24 {
  left: 86px;
  line-height: 22.4px;
  color: #2787f5;
}
.image-fill25 {
  left: 58px;
  width: 24px;
  height: 24px;
}
.vector-icon70,
.vector-icon71 {
  position: absolute;
  top: 62px;
  right: 69px;
  width: 20px;
  height: 19px;
}
.vector-icon71 {
  right: 95px;
}
.star-black-24dp-1-icon34 {
  position: absolute;
  top: 60px;
  right: 119px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.star-black-24dp-2-icon34,
.star-black-24dp-3-icon34 {
  position: absolute;
  top: 60px;
  right: 145px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.star-black-24dp-2-icon34 {
  right: 171px;
}
.b397 {
  position: absolute;
  top: 61px;
  right: 32px;
  line-height: 22.4px;
}
.favorite-border-black-24dp-1-icon49 {
  position: absolute;
  top: 24px;
  right: 71px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.component-301,
.component-311,
.component-321,
.component-332,
.component-34 {
  position: absolute;
  top: 2773px;
  left: 248px;
  width: 1424px;
  height: 346px;
  text-align: justify;
  font-size: 16px;
}
.component-311,
.component-321,
.component-332,
.component-34 {
  top: 3151px;
}
.component-321,
.component-332,
.component-34 {
  top: 3529px;
}
.component-332,
.component-34 {
  top: 3907px;
}
.component-34 {
  top: 4285px;
}
.adminindex-child17,
.adminindex-child18,
.adminindex-child19,
.adminindex-child20 {
  position: absolute;
  top: 3134.5px;
  left: 247.5px;
  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.adminindex-child18,
.adminindex-child19,
.adminindex-child20 {
  top: 3512.5px;
}
.adminindex-child19,
.adminindex-child20 {
  top: 3890.5px;
}
.adminindex-child20 {
  top: 4268.5px;
}
.b410 {
  position: absolute;
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.no-image29,
.title12 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.no-image29 {
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.title15,
.title16 {
  position: absolute;
  top: 102px;
  left: 31px;
  line-height: 17.6px;
}
.title16 {
  left: 45px;
}
.instance-container {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  text-align: center;
  font-size: 16px;
}
.adminindex-child21,
.group-child160 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child160 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b411 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent80 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon63 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b412 {
  position: relative;
  line-height: 33px;
}
.frame-child115 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent120 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.adminindex {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "Noto Sans KR";
}
