.div729 {
  position: absolute;
  top: 2825px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div730,
.frame-child121 {
  position: relative;
}
.frame-child121 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div733,
.parent123 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent123 {
  top: 3081px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div733 {
  top: 3136px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance112 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon31 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent29 {
  position: absolute;
  top: 2870px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.adminproductlist-child {
  position: absolute;
  top: 2975px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official31,
.kakaotalk31 {
  position: absolute;
  top: 2972px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk31 {
  top: 3022px;
  left: 892px;
}
.group-child164 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child165 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk32 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent32 {
  position: absolute;
  top: 3019px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b419,
.cladance113 {
  position: absolute;
  text-align: left;
}
.cladance113 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b419 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home30 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail60,
.right-16px-icon90 {
  position: relative;
  display: none;
}
.right-16px-icon90 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail60 {
  width: 62px;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon91 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing30 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon30,
.list30 {
  position: absolute;
  top: -4px;
}
.list30 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon30 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b420,
.breadcrumbs30 {
  position: absolute;
  text-align: left;
}
.breadcrumbs30 {
  top: 238px;
  left: 523px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.b420 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child57 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title22 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill40 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image39 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child59,
.rectangle-parent87 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child59 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title25,
.title26 {
  position: absolute;
  top: 102px;
  left: 31px;
  line-height: 17.6px;
}
.title26 {
  left: 45px;
}
.instance-parent2 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.box18 {
  position: absolute;
  top: 30px;
  left: 47px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #2787f5;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.b421,
.b422,
.b423,
.b424,
.b425,
.b426 {
  position: absolute;
  top: 28px;
  line-height: 28px;
}
.b421 {
  left: calc(50% - 319px);
}
.b422,
.b423,
.b424,
.b425,
.b426 {
  right: 593px;
}
.b423,
.b424,
.b425,
.b426 {
  right: 434px;
}
.b424,
.b425,
.b426 {
  right: 298px;
}
.b425,
.b426 {
  right: 181px;
}
.b426 {
  right: 64px;
}
.box-parent,
.box19 {
  position: absolute;
  box-sizing: border-box;
}
.box-parent {
  top: 673px;
  left: 248px;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 1424px;
  height: 84px;
  overflow: hidden;
  text-align: left;
}
.box19 {
  top: 84px;
  left: 47px;
  border-radius: 4px;
  border: 2px solid #e0efff;
  width: 24px;
  height: 24px;
}
.b427,
.div734 {
  width: calc(100% - 985px);
  left: 307px;
  line-height: 28px;
  text-align: left;
  display: inline-block;
}
.b427 {
  position: absolute;
  top: 32px;
}
.div734 {
  top: 68px;
}
.div734,
.div735,
.div736 {
  position: absolute;
}
.div735 {
  top: 82px;
  right: 577px;
  line-height: 28px;
  font-weight: 500;
}
.div736 {
  right: 462px;
}
.div736,
.div737,
.div738 {
  top: 82px;
  line-height: 28px;
  font-weight: 500;
}
.div737 {
  position: absolute;
  right: 188px;
}
.div738 {
  right: 298px;
}
.b428,
.div738,
.icon65 {
  position: absolute;
}
.icon65 {
  top: 16px;
  left: 119px;
  width: 132px;
  height: 160px;
  object-fit: cover;
}
.b428 {
  top: calc(50% - 12px);
  left: calc(50% - 30.5px);
  line-height: 22.4px;
}
.small-button4,
.small-button5 {
  position: absolute;
  top: 40px;
  right: 34px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.small-button5 {
  top: 104px;
}
.box-container,
.box-group {
  position: absolute;
  top: 757px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 192px;
  overflow: hidden;
}
.box-container {
  top: 948px;
}
.group-child166 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #2787f5;
  width: 48px;
  height: 48px;
}
.b433 {
  position: absolute;
  top: 12px;
  left: 19px;
  line-height: 22.4px;
}
.rectangle-parent92 {
  width: 48px;
  position: relative;
  height: 48px;
  color: #fff;
}
.group-child167 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.rectangle-parent93 {
  width: 48px;
  position: relative;
  height: 48px;
}
.normal-button37,
.pagination4 {
  position: absolute;
  overflow: hidden;
  font-size: 16px;
}
.pagination4 {
  top: 2713px;
  left: 880px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  color: #bdbdbd;
}
.normal-button37 {
  top: 2689px;
  left: 272px;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 99px;
  height: 40px;
}
.button-sample22 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 72px);
  line-height: 22.4px;
}
.normal-button38 {
  position: absolute;
  top: 2689px;
  left: 1470px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 178px;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.box-parent1,
.box-parent2,
.box-parent3,
.box-parent4,
.box-parent5,
.box-parent6,
.box-parent7,
.box-parent8 {
  position: absolute;
  top: 1140px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 192px;
  overflow: hidden;
}
.box-parent2,
.box-parent3,
.box-parent4,
.box-parent5,
.box-parent6,
.box-parent7,
.box-parent8 {
  top: 1331px;
}
.box-parent3,
.box-parent4,
.box-parent5,
.box-parent6,
.box-parent7,
.box-parent8 {
  top: 1523px;
}
.box-parent4,
.box-parent5,
.box-parent6,
.box-parent7,
.box-parent8 {
  top: 1714px;
}
.box-parent5,
.box-parent6,
.box-parent7,
.box-parent8 {
  top: 2481px;
  border-bottom: 2px solid #000;
}
.box-parent6,
.box-parent7,
.box-parent8 {
  top: 1906px;
  border-bottom: 1px solid #000;
}
.box-parent7,
.box-parent8 {
  top: 2097px;
}
.box-parent8 {
  top: 2289px;
}
.div784,
.instance-child62 {
  position: absolute;
  top: calc(50% - 14px);
}
.instance-child62 {
  right: 32px;
  width: 24.5px;
  height: 28px;
}
.div784 {
  left: 58px;
  line-height: 28px;
  font-weight: 500;
}
.right-24px-icon41 {
  position: absolute;
  top: calc(50% - 13px);
  left: 144px;
  width: 30px;
  height: 29px;
  object-fit: contain;
}
.div785 {
  position: absolute;
  top: calc(50% - 14px);
  left: 254px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
}
.group-parent9 {
  position: absolute;
  top: 601px;
  left: 1008px;
  border-radius: 39px;
  border: 2px solid #2787f5;
  box-sizing: border-box;
  width: 648px;
  height: 48px;
  overflow: hidden;
}
.adminproductlist-item,
.group-child169 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child169 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b460 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent95 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon75 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b461 {
  position: relative;
  line-height: 33px;
}
.frame-child123 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent124 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.adminproductlist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
