.div980 {
  position: absolute;
  top: 1762px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div981,
.frame-child159 {
  position: relative;
}
.frame-child159 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div984,
.parent156 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent156 {
  top: 2018px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div984 {
  top: 2073px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance140 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon40 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent38 {
  position: absolute;
  top: 1807px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.admincsfaqview-child {
  position: absolute;
  top: 1902px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official40,
.kakaotalk40 {
  position: absolute;
  top: 1909px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk40 {
  top: 1959px;
  left: 892px;
}
.group-child214 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child215 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk41 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent41 {
  position: absolute;
  top: 1946px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance-faq4,
.cladance141 {
  position: absolute;
  text-align: left;
}
.cladance141 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.cladance-faq4 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home39 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon117 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing39 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list39 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs39,
.home-icon39 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs39 {
  top: 238px;
  left: 945px;
  width: 286px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  color: #828282;
}
.right-24px-icon55 {
  position: absolute;
  top: calc(50% - 11px);
  right: 160px;
  width: 23px;
  height: 24px;
  object-fit: contain;
}
.b613 {
  position: absolute;
  top: 0;
  left: 31px;
  line-height: 28px;
}
.right-24px-parent1 {
  position: absolute;
  top: calc(50% + 1018px);
  right: 1265px;
  width: 183px;
  height: 28px;
  text-align: left;
  font-size: 20px;
}
.b614 {
  position: absolute;
  top: 317px;
  left: 559px;
  font-size: 44px;
  line-height: 48.4px;
}
.div985 {
  top: 370px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.coo7,
.div985,
.div986 {
  position: absolute;
  font-size: 20px;
  line-height: 28px;
}
.div986 {
  top: 334px;
  left: 1397px;
  white-space: pre-wrap;
  text-align: right;
}
.coo7 {
  top: 370px;
  left: 280px;
  text-align: left;
}
.admincsfaqview-item {
  position: absolute;
  top: 413.5px;
  left: 247.5px;
  border-top: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.p64 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
}
.kkm030513unistackr3 {
  color: inherit;
}
.kkm030513unistackr-pdf2 {
  margin: 0;
}
.cladance-container5 {
  position: absolute;
  top: 462px;
  left: 280px;
  font-size: 24px;
  line-height: 33.6px;
  text-align: left;
  display: inline-block;
  width: 1360px;
}
.enter-text-here5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: none;
}
.placeholder139 {
  position: absolute;
  width: calc(100% - 62px);
  top: 100px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.p70 {
  margin-block-start: 0;
  margin-block-end: 33.6px;
  white-space: pre-wrap;
}
.coo8 {
  top: 68px;
  left: 32px;
  font-size: 24px;
  line-height: 33.6px;
  display: inline-block;
  width: 515px;
}
.b615,
.coo8,
.form129 {
  position: absolute;
}
.b615 {
  top: 16px;
  left: 16px;
  font-size: 32px;
  line-height: 35.2px;
}
.form129 {
  width: 30.16%;
  top: 1334px;
  right: 34.9%;
  left: 34.95%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 260px;
  overflow: hidden;
  text-align: left;
}
.button-sample38 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.normal-button54,
.normal-button55,
.normal-button56 {
  position: absolute;
  top: 1658px;
  left: 1573px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 99px;
  height: 40px;
  overflow: hidden;
  color: #fff;
}
.normal-button55,
.normal-button56 {
  left: 1458px;
}
.normal-button56 {
  left: 1343px;
  background-color: #ff5454;
}
.admincsfaqview-inner,
.group-child216 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child216 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b616 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.icon96,
.rectangle-parent128 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
}
.icon96 {
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b617 {
  position: relative;
  line-height: 33px;
}
.frame-child161 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent157 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.admincsfaqview {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
