.div1281 {
  position: absolute;
  top: 2073px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1282,
.frame-child260 {
  position: relative;
}
.frame-child260 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1285,
.parent204 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent204 {
  top: 2329px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div1285 {
  top: 2384px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance210 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon59 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent57 {
  position: absolute;
  top: 2118px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.mybenefitcoupon-child {
  position: absolute;
  top: 2223px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official59,
.kakaotalk59 {
  position: absolute;
  top: 2220px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk59 {
  top: 2270px;
  left: 892px;
}
.group-child303 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child304 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk61 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent62 {
  position: absolute;
  top: 2267px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b864,
.cladance211 {
  position: absolute;
  text-align: left;
}
.cladance211 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b864 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home58 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon174 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail117 {
  width: 56px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.right-16px-icon176 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pricing58 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.list58 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs58,
.home-icon58 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs58 {
  top: 238px;
  left: 420px;
  width: 286px;
  height: 24px;
  text-align: left;
  font-size: 20px;
  color: #828282;
}
.b865,
.b866,
.b867 {
  position: absolute;
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
  text-align: left;
}
.b866,
.b867 {
  top: 601px;
}
.b867 {
  top: 885px;
}
.instance-child144 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title90 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill111 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image107 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.rectangle-parent204 {
  width: 120px;
  position: relative;
  height: 144px;
}
.title92 {
  position: absolute;
  top: 102px;
  left: 43px;
  line-height: 17.6px;
}
.instance-child147 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
  width: 120px;
  height: 144px;
}
.title93 {
  position: absolute;
  top: 102px;
  left: 36px;
  line-height: 17.6px;
}
.instance-parent17 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
}
.group-child305 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 453px;
  height: 244px;
}
.div1286 {
  position: absolute;
  top: 201px;
  left: 366px;
  line-height: 22.4px;
  color: #787878;
  text-align: right;
}
.b868,
.div1287,
.div1288 {
  position: absolute;
  left: 198px;
}
.div1287 {
  top: 56px;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
}
.b868,
.div1288 {
  top: 98px;
  line-height: 22.4px;
}
.b868 {
  top: 29px;
  line-height: 17.6px;
}
.group-child306,
.rectangle-wrapper {
  position: absolute;
  width: 138px;
  height: 196px;
}
.group-child306 {
  top: 0;
  left: 0;
  background-color: #dbecfe;
}
.rectangle-wrapper {
  top: 24px;
  left: 36px;
}
.no-image111 {
  position: absolute;
  top: 110px;
  left: 80px;
  line-height: 22.4px;
  color: #2787f5;
}
.favorite-border-black-24dp-2 {
  position: absolute;
  top: 13px;
  left: 373px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.image-fill115 {
  position: absolute;
  top: 110px;
  left: 52px;
  width: 24px;
  height: 24px;
}
.rectangle-parent208,
.rectangle-parent209 {
  position: absolute;
  top: 961px;
  left: 249px;
  width: 453px;
  height: 244px;
  text-align: justify;
}
.rectangle-parent209 {
  top: 1229px;
}
.rectangle-parent210,
.rectangle-parent211,
.rectangle-parent212,
.rectangle-parent213 {
  position: absolute;
  top: 961px;
  left: 734px;
  width: 453px;
  height: 244px;
  text-align: justify;
}
.rectangle-parent211,
.rectangle-parent212,
.rectangle-parent213 {
  top: 1229px;
}
.rectangle-parent212,
.rectangle-parent213 {
  top: 961px;
  left: 1219px;
}
.rectangle-parent213 {
  top: 1229px;
}
.component-16-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
}
.b874,
.b875 {
  position: absolute;
  display: inline-block;
}
.b874 {
  top: 24px;
  left: calc(50% - 133px);
  line-height: 26.4px;
  width: 266px;
  height: 35px;
}
.b875 {
  top: 84px;
  left: calc(50% - 139px);
  font-size: 32px;
  line-height: 35.2px;
  color: #ff5454;
  width: 277px;
}
.component-161 {
  position: absolute;
  top: 677px;
  left: 258px;
  width: 332px;
  height: 144px;
  font-size: 24px;
}
.group-child317,
.mybenefitcoupon-item {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child317 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b876 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.icon130,
.rectangle-parent214 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
}
.icon130 {
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b877 {
  position: relative;
  line-height: 33px;
}
.frame-child262 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent205 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.mybenefitcoupon {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
