.div1102 {
  position: absolute;
  top: 4558px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1103,
.frame-child220 {
  position: relative;
}
.frame-child220 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1106,
.parent180 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent180 {
  top: 4814px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.div1106 {
  top: 4869px;
  left: 542px;
  white-space: pre-wrap;
  text-align: center;
}
.cladance179 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon51 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent49 {
  position: absolute;
  top: 4603px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.myindex-child {
  position: absolute;
  top: 4708px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official51,
.kakaotalk51 {
  position: absolute;
  top: 4705px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
  text-align: center;
}
.kakaotalk51 {
  top: 4755px;
  left: 892px;
}
.group-child257 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child258 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk52 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent53 {
  position: absolute;
  top: 4752px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance180 {
  position: absolute;
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b741 {
  position: absolute;
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home50 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon150 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail100 {
  width: 66px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.right-16px-icon151 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.detail101,
.pricing50 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.detail101 {
  width: 56px;
  display: none;
}
.pricing50 {
  color: #2787f5;
}
.list50 {
  position: absolute;
  top: -4px;
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.breadcrumbs50,
.home-icon50 {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 33px;
  height: 28px;
}
.breadcrumbs50 {
  top: 238px;
  left: 454px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b742 {
  position: absolute;
  top: 922px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.myindex-child1,
.myindex-inner,
.myindex-item {
  position: absolute;
  top: 997px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.myindex-child1,
.myindex-inner {
  top: 1064.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.myindex-child1 {
  top: 1131.5px;
}
.cladance181,
.div1107,
.div1108 {
  position: absolute;
  top: 1014px;
  left: 256px;
  line-height: 33.6px;
}
.cladance181,
.div1108 {
  top: 1081px;
}
.div1108 {
  top: 1148px;
}
.myindex-child2,
.myindex-child3,
.myindex-child4 {
  position: absolute;
  top: 1198.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.myindex-child3,
.myindex-child4 {
  top: 1265.5px;
}
.myindex-child4 {
  top: 1332px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div1109,
.div1110 {
  position: absolute;
  top: 1215px;
  left: 256px;
  line-height: 33.6px;
}
.div1110 {
  top: 1282px;
}
.div1111,
.div1112,
.div1113,
.div1114,
.div1115,
.div1116 {
  position: absolute;
  top: 1014px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div1112,
.div1113,
.div1114,
.div1115,
.div1116 {
  top: 1081px;
}
.div1113,
.div1114,
.div1115,
.div1116 {
  top: 1148px;
}
.div1114,
.div1115,
.div1116 {
  top: 1215px;
}
.div1115,
.div1116 {
  top: 1282px;
}
.div1116 {
  top: 956px;
  left: 1573px;
  font-weight: 500;
}
.b743,
.cladance182 {
  position: absolute;
  top: 3649px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.cladance182 {
  top: 4180px;
}
.myindex-child5,
.myindex-child6,
.myindex-child7 {
  position: absolute;
  top: 3724px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.myindex-child6,
.myindex-child7 {
  top: 3791.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.myindex-child7 {
  top: 3858.5px;
}
.cladance183,
.div1117,
.div1118 {
  position: absolute;
  top: 3741px;
  left: 256px;
  line-height: 33.6px;
}
.cladance183,
.div1118 {
  top: 3808px;
}
.div1118 {
  top: 3875px;
}
.myindex-child10,
.myindex-child8,
.myindex-child9 {
  position: absolute;
  top: 3925.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.myindex-child10,
.myindex-child9 {
  top: 3992.5px;
}
.myindex-child10 {
  top: 4059px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div1119,
.div1120,
.div1121,
.kk10 {
  position: absolute;
  top: 3942px;
  left: 256px;
  line-height: 33.6px;
}
.div1120,
.div1121,
.kk10 {
  top: 4009px;
}
.div1121,
.kk10 {
  top: 3741px;
  left: 1570px;
  text-align: right;
}
.kk10 {
  left: 1467px;
}
.div1122,
.div1123,
.div1124,
.div1125,
.div1126,
.kk11,
.kk12,
.kk13,
.kk14 {
  position: absolute;
  top: 3875px;
  left: 1467px;
  line-height: 33.6px;
  text-align: right;
}
.div1122,
.div1123,
.div1124,
.div1125,
.div1126,
.kk12,
.kk13,
.kk14 {
  top: 3808px;
}
.div1122,
.div1123,
.div1124,
.div1125,
.div1126,
.kk13,
.kk14 {
  top: 3942px;
}
.div1122,
.div1123,
.div1124,
.div1125,
.div1126,
.kk14 {
  top: 4009px;
}
.div1122,
.div1123,
.div1124,
.div1125,
.div1126 {
  top: 3808px;
  left: 1570px;
}
.div1123,
.div1124,
.div1125,
.div1126 {
  top: 3875px;
}
.div1124,
.div1125,
.div1126 {
  top: 3942px;
}
.div1125,
.div1126 {
  top: 4009px;
}
.div1126 {
  top: 3683px;
  left: 1573px;
  font-weight: 500;
}
.myindex-child11,
.myindex-child12,
.myindex-child13 {
  position: absolute;
  top: 3249px;
  left: 247px;
  border-top: 2px solid #000;
  box-sizing: border-box;
  width: 1426px;
  height: 2px;
}
.myindex-child12,
.myindex-child13 {
  top: 3316.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  width: 1425px;
  height: 1px;
}
.myindex-child13 {
  top: 3383.5px;
}
.cladance184,
.div1127,
.div1128 {
  position: absolute;
  top: 3266px;
  left: 256px;
  line-height: 33.6px;
}
.cladance184,
.div1128 {
  top: 3333px;
}
.div1128 {
  top: 3400px;
}
.myindex-child14,
.myindex-child15,
.myindex-child16 {
  position: absolute;
  top: 3450.5px;
  left: 247.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1425px;
  height: 1px;
}
.myindex-child15,
.myindex-child16 {
  top: 3517.5px;
}
.myindex-child16 {
  top: 3584px;
  left: 247px;
  border-top: 2px solid #000;
  width: 1426px;
  height: 2px;
}
.div1129,
.div1130 {
  position: absolute;
  top: 3467px;
  left: 256px;
  line-height: 33.6px;
}
.div1130 {
  top: 3534px;
}
.div1131,
.div1132,
.div1133,
.div1134,
.div1135,
.div1136,
.div1137 {
  position: absolute;
  top: 3266px;
  left: 1570px;
  line-height: 33.6px;
  text-align: right;
}
.div1132,
.div1133,
.div1134,
.div1135,
.div1136,
.div1137 {
  top: 3333px;
}
.div1133,
.div1134,
.div1135,
.div1136,
.div1137 {
  top: 3400px;
}
.div1134,
.div1135,
.div1136,
.div1137 {
  top: 3467px;
}
.div1135,
.div1136,
.div1137 {
  top: 3534px;
}
.div1136,
.div1137 {
  top: 3208px;
  left: 1573px;
  font-weight: 500;
}
.div1137 {
  top: 2192px;
}
.cladance-faq8,
.cladance185,
.cladance186 {
  position: absolute;
  top: 1397px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.cladance-faq8,
.cladance186 {
  top: 2158px;
}
.cladance-faq8 {
  top: 2972px;
}
.button-sample82 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 39.5px);
  line-height: 22.4px;
}
.normal-button110 {
  position: absolute;
  top: 4076px;
  left: 272px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 121px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.enter-text-here7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: none;
}
.placeholder158 {
  position: absolute;
  width: calc(100% - 62px);
  top: 82px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.form-item {
  position: absolute;
  top: 67px;
  left: 24px;
  width: 36px;
  height: 36px;
}
.instagram1,
.kakaotalk-ch1 {
  position: absolute;
  top: 71px;
  left: 68px;
  font-size: 24px;
  line-height: 26.4px;
}
.kakaotalk-ch1 {
  top: 156px;
}
.cladance-official1,
.cladance187 {
  position: absolute;
  top: 106px;
  left: 64px;
  line-height: 22.4px;
  color: #1d1d1d;
}
.cladance187 {
  top: 191px;
}
.group-child259 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #2787f5;
  width: 44px;
  height: 35px;
}
.ellipse-parent54 {
  position: absolute;
  top: 153px;
  left: 20px;
  width: 44px;
  height: 45.2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.form148,
.sns1 {
  position: absolute;
}
.sns1 {
  top: 16px;
  left: 16px;
  font-size: 24px;
  line-height: 26.4px;
  color: #000;
}
.form148 {
  width: 16.67%;
  top: 4256px;
  right: 58.8%;
  left: 24.53%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 238px;
  overflow: hidden;
  font-size: 16px;
  color: #2787f5;
}
.placeholder159 {
  position: absolute;
  width: calc(100% - 62px);
  top: 100px;
  right: 38px;
  left: 24px;
  height: 23px;
  color: #bdbdbd;
}
.ceo3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 32px;
}
.ceo2,
.coo13 {
  position: absolute;
  top: 67px;
  left: 28px;
  font-size: 24px;
  line-height: 26.4px;
  color: #2787f5;
}
.coo13 {
  left: 295px;
}
.b744,
.b745,
.k-hj-031,
.kangmin-05131 {
  position: absolute;
  top: 102px;
  left: 24px;
  line-height: 22.4px;
}
.b745,
.k-hj-031,
.kangmin-05131 {
  left: 291px;
}
.k-hj-031,
.kangmin-05131 {
  top: 129px;
  left: 24px;
}
.kangmin-05131 {
  left: 291px;
}
.ghj7278unistackr1,
.kkm030513unistackr5 {
  position: absolute;
  top: 156px;
  left: 24px;
  line-height: 22.4px;
}
.kkm030513unistackr5 {
  left: 291px;
}
.form149 {
  position: absolute;
  width: 30.16%;
  top: 4256px;
  right: 24.48%;
  left: 45.36%;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 238px;
  overflow: hidden;
  font-size: 16px;
  color: #1d1d1d;
}
.instance-child96 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title52 {
  position: absolute;
  top: 102px;
  left: 44px;
  line-height: 17.6px;
}
.image-fill73 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image69 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
  text-align: center;
}
.rectangle-parent157 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-parent8 {
  position: absolute;
  top: 3048px;
  left: 258px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.shdow30 {
  position: absolute;
  top: 296px;
  left: 23.3px;
  border-radius: 8px;
  background-color: rgba(189, 189, 189, 0.8);
  filter: blur(36px);
  width: 383.4px;
  height: 250px;
}
.background47,
.image-icon30 {
  position: absolute;
  left: 0;
  width: 421px;
}
.background47 {
  top: 276px;
  border-radius: 8px;
  background-color: #fff;
  height: 398px;
}
.image-icon30 {
  top: 0;
  border-radius: 8px 8px 0 0;
  height: 421px;
  object-fit: cover;
}
.link30 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 16.5px);
  line-height: 22.4px;
}
.normal-button111 {
  position: absolute;
  top: 595px;
  left: 24px;
  border-radius: 8px;
  background-color: #092c4c;
  width: 373px;
  height: 55px;
  overflow: hidden;
}
.body30 {
  top: 35px;
  left: 0;
  line-height: 22.4px;
  white-space: pre-wrap;
  display: inline-block;
  height: 91px;
}
.body30,
.card-title30,
.content30 {
  position: absolute;
  width: 373px;
}
.card-title30 {
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 26.4px;
  display: inline-block;
  color: #092c4c;
}
.content30 {
  top: 445px;
  left: 24px;
  height: 126px;
  text-align: left;
  color: #4f4f4f;
}
.image-cardcta30,
.image-cardcta31,
.image-cardcta32 {
  position: absolute;
  top: 2234px;
  left: 248px;
  width: 421px;
  height: 674px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.image-cardcta31,
.image-cardcta32 {
  left: 749px;
}
.image-cardcta32 {
  left: 1251px;
}
.group-child261 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 621.2px;
}
.group-child262 {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 16px 16px 0 0;
  background-color: #d3e7fc;
  width: 1422px;
  height: 131px;
}
.group-child263,
.group-child264,
.group-child265,
.group-child266 {
  position: absolute;
  top: 229.1px;
  left: 1.3px;
  border-top: 1px solid #bebebe;
  box-sizing: border-box;
  width: 1421.4px;
  height: 1px;
}
.group-child264,
.group-child265,
.group-child266 {
  top: 327px;
}
.group-child265,
.group-child266 {
  top: 424.9px;
}
.group-child266 {
  top: 522.8px;
}
.div1138,
.div1139,
.mon3 {
  position: absolute;
  display: inline-block;
}
.mon3 {
  top: 89px;
  left: 275.9px;
  line-height: 26.4px;
  text-align: center;
  width: 58.7px;
  height: 35.6px;
}
.div1138,
.div1139 {
  line-height: 33.6px;
  font-weight: 500;
  width: 33.8px;
  height: 40.9px;
}
.div1138 {
  top: 138.8px;
  left: 14.2px;
  color: #e02b6c;
}
.div1139 {
  top: 334.6px;
}
.div1139,
.div1140,
.div1141 {
  left: 14.2px;
  color: #e02b6c;
}
.div1140 {
  position: absolute;
  top: 236.7px;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div1141 {
  top: 432.5px;
}
.div1141,
.div1142,
.div1143,
.div1144,
.div1145 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div1142 {
  top: 530.4px;
  left: 14.2px;
  color: #e02b6c;
}
.div1143,
.div1144,
.div1145 {
  left: 218.9px;
}
.div1143 {
  top: 138.8px;
  color: #e02b6c;
}
.div1144,
.div1145 {
  top: 334.6px;
}
.div1145 {
  top: 236.7px;
  color: #e02b6c;
}
.div1146 {
  top: 432.5px;
  left: 218.9px;
}
.div1146,
.div1147,
.div1148,
.div1149,
.div1150,
.div1151,
.div1152,
.div1153,
.div1154,
.div1155 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div1147 {
  top: 530.4px;
  left: 218.9px;
}
.div1148,
.div1149,
.div1150,
.div1151,
.div1152,
.div1153,
.div1154,
.div1155 {
  left: 421.9px;
}
.div1148 {
  top: 138.8px;
  color: #e02b6c;
}
.div1149,
.div1150,
.div1151,
.div1152,
.div1153,
.div1154,
.div1155 {
  top: 334.6px;
}
.div1150,
.div1151,
.div1152,
.div1153,
.div1154,
.div1155 {
  top: 236.7px;
}
.div1151,
.div1152,
.div1153,
.div1154,
.div1155 {
  top: 432.5px;
}
.div1152,
.div1153,
.div1154,
.div1155 {
  top: 530.4px;
}
.div1153,
.div1154,
.div1155 {
  top: 138.8px;
  left: 624.8px;
}
.div1154,
.div1155 {
  top: 334.6px;
}
.div1155 {
  top: 236.7px;
}
.div1156 {
  top: 432.5px;
  left: 624.8px;
}
.div1156,
.div1157,
.div1158,
.div1159,
.div1160 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div1157 {
  top: 530.4px;
  left: 624.8px;
  color: #adadad;
}
.div1158,
.div1159,
.div1160 {
  top: 138.8px;
  left: 1030.6px;
}
.div1159,
.div1160 {
  top: 334.6px;
}
.div1160 {
  top: 236.7px;
}
.div1161 {
  top: 432.5px;
  left: 1030.6px;
}
.div1161,
.div1162,
.div1163,
.div1164,
.div1165,
.div1166,
.div1167,
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  position: absolute;
  line-height: 33.6px;
  font-weight: 500;
  display: inline-block;
  width: 33.8px;
  height: 40.9px;
}
.div1162 {
  top: 530.4px;
  left: 1030.6px;
  color: #adadad;
}
.div1163,
.div1164,
.div1165,
.div1166,
.div1167,
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 138.8px;
  left: 827.7px;
}
.div1164,
.div1165,
.div1166,
.div1167,
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 334.6px;
}
.div1165,
.div1166,
.div1167,
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 236.7px;
}
.div1166,
.div1167,
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 432.5px;
}
.div1167,
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 530.4px;
  color: #adadad;
}
.div1168,
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 138.8px;
  left: 1233.5px;
  color: #2787f5;
}
.div1169,
.div1170,
.div1171,
.div1172 {
  top: 334.6px;
}
.div1170,
.div1171,
.div1172 {
  top: 236.7px;
}
.div1171,
.div1172 {
  top: 432.5px;
}
.div1172 {
  top: 530.4px;
  color: #adadad;
}
.fri2,
.october1,
.sat2,
.sun2,
.thu2,
.tue2,
.wed2 {
  position: absolute;
  top: 89px;
  left: 484.2px;
  line-height: 26.4px;
  display: inline-block;
  text-align: center;
  width: 49.8px;
  height: 35.6px;
}
.fri2,
.october1,
.sat2,
.sun2,
.thu2,
.wed2 {
  left: 683.5px;
  width: 55.2px;
}
.fri2,
.october1,
.sat2,
.sun2,
.thu2 {
  left: 888.2px;
  width: 53.4px;
}
.fri2,
.october1,
.sat2,
.sun2 {
  left: 1098.3px;
  width: 39.2px;
}
.october1,
.sat2,
.sun2 {
  left: 1299.4px;
  width: 44.5px;
}
.october1,
.sun2 {
  left: 74.8px;
  width: 53.4px;
}
.october1 {
  top: 16px;
  left: 569.6px;
  font-size: 40px;
  line-height: 44px;
  width: 284.8px;
  height: 64.1px;
}
.group-child267,
.group-child268,
.group-child269,
.group-child270,
.group-child271,
.group-child272 {
  position: absolute;
  top: 131.2px;
  left: 813px;
  border-right: 1px solid #bebebe;
  box-sizing: border-box;
  width: 1px;
  height: 490.5px;
}
.group-child268,
.group-child269,
.group-child270,
.group-child271,
.group-child272 {
  left: 407.1px;
}
.group-child269,
.group-child270,
.group-child271,
.group-child272 {
  left: 204.2px;
}
.group-child270,
.group-child271,
.group-child272 {
  left: 1015.9px;
}
.group-child271,
.group-child272 {
  left: 1218.8px;
}
.group-child272 {
  left: 610px;
}
.group-child273,
.group-child274 {
  position: absolute;
  top: 281.2px;
  left: 421.9px;
  border-radius: 49px 0 0 49px;
  background-color: #2bcae0;
  width: 1000.4px;
  height: 35.6px;
}
.group-child274 {
  top: 379.1px;
  left: 1.8px;
  border-radius: 0 49px 49px 0;
  width: 1408px;
}
.div1173 {
  position: absolute;
  top: 287px;
  left: 443px;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  width: 317px;
  height: 25px;
}
.rectangle-parent163 {
  position: absolute;
  top: 1473px;
  left: 248px;
  width: 1424px;
  height: 621.2px;
}
.b747 {
  position: absolute;
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.no-image75,
.title58 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.no-image75 {
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.title60,
.title61 {
  position: absolute;
  top: 102px;
  left: 43px;
  line-height: 17.6px;
}
.title61 {
  left: 36px;
}
.instance-parent9 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  text-align: center;
  font-size: 16px;
}
.default-frame-icon14 {
  position: absolute;
  top: 604px;
  left: 233px;
  width: 198px;
  height: 198px;
  object-fit: cover;
}
.div1174 {
  position: absolute;
  top: 624px;
  left: 497px;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  font-family: Inter;
}
.group-child275,
.myindex-child17 {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child275 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b748 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent168 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  text-align: center;
  font-size: 16px;
}
.icon111 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b749 {
  position: relative;
  line-height: 33px;
}
.frame-child222 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent181 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  text-align: center;
  font-size: 30px;
}
.myindex {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: "Noto Sans KR";
}
