.div1190 {
  position: absolute;
  top: 1317px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1191,
.frame-child228 {
  position: relative;
}
.frame-child228 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1194,
.parent190 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent190 {
  top: 1573px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div1194 {
  top: 1628px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance192 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon53 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent51 {
  position: absolute;
  top: 1362px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.mynoteorderedreview-write-child {
  position: absolute;
  top: 1467px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official53,
.kakaotalk53 {
  position: absolute;
  top: 1464px;
  left: 870px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk53 {
  top: 1514px;
  left: 892px;
}
.group-child279 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child280 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk55 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent56 {
  position: absolute;
  top: 1511px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b787,
.cladance193 {
  position: absolute;
  text-align: left;
}
.cladance193 {
  top: 69px;
  left: 278px;
  font-size: 20px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b787 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home52 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon156 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.pricing52 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon52,
.list52 {
  position: absolute;
  top: -4px;
}
.list52 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon52 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b788,
.breadcrumbs52 {
  position: absolute;
  text-align: left;
}
.breadcrumbs52 {
  top: 238px;
  left: 512px;
  width: 286px;
  height: 24px;
  font-size: 20px;
  color: #828282;
}
.b788 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child110 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title66 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill87 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image83 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child111,
.rectangle-parent174 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child111 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title68,
.title69 {
  position: absolute;
  top: 102px;
  left: 43px;
  line-height: 17.6px;
}
.title69 {
  left: 36px;
}
.instance-parent11 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
}
.menu-fill0-wght400-grad0-opsz2-icon {
  position: absolute;
  top: 20px;
  left: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.cal {
  position: absolute;
  top: 21px;
  left: 72px;
  line-height: 22.4px;
}
.download-white-24dp-1-icon,
.more-vert-fill0-wght400-grad0-icon,
.print-white-24dp-1-icon {
  position: absolute;
  top: 20px;
  right: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.download-white-24dp-1-icon,
.print-white-24dp-1-icon {
  right: 60px;
}
.download-white-24dp-1-icon {
  right: 96px;
}
.rotate-90-degrees-ccw-white-24-icon,
.vertical-align-center-fill0-wg-icon {
  position: absolute;
  top: 20px;
  left: calc(50% + 126.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.vertical-align-center-fill0-wg-icon {
  top: 21px;
  left: calc(50% + 94.5px);
}
.frame-child230,
.frame-child231 {
  position: absolute;
  top: 22.5px;
  left: calc(50% + 78px);
  border-right: 1px solid #707375;
  box-sizing: border-box;
  width: 1px;
  height: 19px;
}
.frame-child231 {
  left: calc(50% - 72px);
}
.frame-child232 {
  position: absolute;
  top: 20px;
  left: calc(50% - 149.5px);
  background-color: #191b1c;
  width: 24px;
  height: 24px;
}
.div1195,
.div1196,
.div1197 {
  position: absolute;
  top: 20px;
  left: calc(50% - 141.5px);
  line-height: 22.4px;
}
.div1196,
.div1197 {
  left: calc(50% - 116.5px);
}
.div1197 {
  left: calc(50% - 96.5px);
}
.add-fill0-wght400-grad0-opsz24-icon,
.remove-fill0-wght400-grad0-ops-icon {
  position: absolute;
  top: 20px;
  left: calc(50% - 55.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.add-fill0-wght400-grad0-opsz24-icon {
  top: 19px;
  left: calc(50% + 38.5px);
}
.div1198,
.frame-child233 {
  position: absolute;
  top: 20px;
}
.frame-child233 {
  left: calc(50% - 23.5px);
  background-color: #191b1c;
  width: 54px;
  height: 24px;
}
.div1198 {
  left: calc(50% - 17.5px);
  line-height: 22.4px;
}
.menu-fill0-wght400-grad0-opsz2-parent {
  position: absolute;
  width: calc(100% - 1329px);
  top: 601px;
  right: 1069px;
  left: 260px;
  background-color: #323639;
  height: 64px;
  overflow: hidden;
  text-align: left;
  color: #fff;
}
.mynoteorderedreview-write-item {
  position: absolute;
  top: 665px;
  left: 260px;
  width: 591px;
  height: 453px;
  overflow: hidden;
}
.div1199 {
  position: absolute;
  top: 751px;
  left: 1117px;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 500;
  text-align: left;
}
.p98 {
  margin-block-start: 0;
  margin-block-end: 22.4px;
}
.p99 {
  margin: 0;
}
.enter-text-here-container16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 22.4px;
  display: inline-block;
}
.placeholder160 {
  position: absolute;
  width: calc(100% - 62px);
  top: 16px;
  right: 38px;
  left: 24px;
  height: 23px;
}
.form150 {
  position: absolute;
  width: 100%;
  top: 29.3px;
  right: 0;
  left: 0;
  border-radius: 6px;
  background-color: #f8fbff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 268px;
  overflow: hidden;
}
.text-area16 {
  position: absolute;
  top: 807.7px;
  left: 940px;
  width: 720px;
  height: 297px;
  text-align: left;
  color: #bdbdbd;
}
.label-sample67 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 26.4px;
}
.input-label122 {
  position: absolute;
  height: 2.13%;
  width: 4.69%;
  top: 74.26%;
  right: 46.35%;
  bottom: 23.61%;
  left: 48.96%;
  text-align: left;
  font-size: 24px;
}
.form-icon {
  height: 5.09%;
  width: 12.76%;
  top: 68.52%;
  right: 25.89%;
  bottom: 26.39%;
  left: 61.35%;
  border-radius: 6px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b789,
.div1200,
.form-icon {
  position: absolute;
}
.b789 {
  top: 601px;
  left: 1042px;
  font-size: 44px;
  line-height: 48.4px;
  display: inline-block;
  width: 516px;
}
.div1200 {
  top: 666px;
  left: 1085px;
  font-size: 27px;
  line-height: 37.8px;
}
.button-sample83 {
  position: absolute;
  top: calc(50% - 11.5px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.normal-button114 {
  position: absolute;
  top: 1198px;
  left: 822px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 275px;
  height: 55px;
  overflow: hidden;
  color: #fff;
}
.group-child281,
.mynoteorderedreview-write-inner {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child281 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b790 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.icon118,
.rectangle-parent178 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
}
.icon118 {
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b791 {
  position: relative;
  line-height: 33px;
}
.frame-child234 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent191 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.mynoteorderedreview-write {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-family: "Noto Sans KR";
}
