.icon112 {
  position: absolute;
  top: 16px;
  left: 313px;
  width: 178px;
  height: 216px;
  object-fit: cover;
}
.xxxxxx50 {
  margin-block-start: 0;
  margin-block-end: 28px;
}
.xxxxxx51 {
  margin: 0;
}
.xxxxxx-20xxxxxx-container {
  position: absolute;
  top: 54px;
  left: 113px;
  line-height: 28px;
}
.div1175,
.o {
  position: absolute;
  font-weight: 500;
}
.o {
  top: 105px;
  right: 273px;
  font-size: 27px;
  line-height: 37.8px;
}
.div1175 {
  top: 110px;
  right: 405px;
  line-height: 28px;
}
.div1176 {
  width: calc(100% - 1063px);
  top: 68px;
  left: 539px;
  line-height: 28px;
  text-align: left;
  display: inline-block;
}
.b751,
.b752,
.div1176 {
  position: absolute;
}
.b751 {
  width: calc(100% - 1063px);
  top: 32px;
  left: 539px;
  line-height: 28px;
  display: inline-block;
  text-align: left;
}
.b752 {
  top: calc(50% - 12px);
  left: calc(50% - 28.5px);
  line-height: 22.4px;
}
.small-button95,
.small-button96,
.small-button97,
.small-button98 {
  position: absolute;
  top: 16px;
  right: 57px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.small-button96,
.small-button97,
.small-button98 {
  top: 128px;
}
.small-button97,
.small-button98 {
  top: 72px;
}
.small-button98 {
  top: 184px;
  right: 56px;
}
.parent182,
.parent183 {
  position: absolute;
  top: 685px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 248px;
  overflow: hidden;
}
.parent183 {
  top: 933px;
}
.div1179 {
  position: absolute;
  top: 1989px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1180,
.frame-child224 {
  position: relative;
}
.frame-child224 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1183,
.parent184 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent184 {
  top: 2245px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div1183 {
  top: 2300px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance189 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon52 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent50 {
  position: absolute;
  top: 2034px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.mynoteordered-child {
  position: absolute;
  top: 2139px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official52,
.kakaotalk52 {
  position: absolute;
  top: 2136px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk52 {
  top: 2186px;
  left: 892px;
}
.group-child276 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child277 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk54 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent55 {
  position: absolute;
  top: 2183px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b761,
.cladance190 {
  position: absolute;
  text-align: left;
}
.cladance190 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b761 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home51 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon153 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail103 {
  width: 56px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.right-16px-icon155 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pricing51 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon51,
.list51 {
  position: absolute;
  top: -4px;
}
.list51 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon51 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b762,
.breadcrumbs51 {
  position: absolute;
  text-align: left;
}
.breadcrumbs51 {
  top: 238px;
  left: 512px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.b762 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child106 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title62 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill83 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image79 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child107,
.rectangle-parent169 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child107 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title64,
.title65 {
  position: absolute;
  top: 102px;
  left: 43px;
  line-height: 17.6px;
}
.title65 {
  left: 36px;
}
.instance-parent10 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.b763,
.b764 {
  text-align: center;
}
.b763 {
  position: absolute;
  top: 28px;
  right: 226px;
  line-height: 28px;
}
.b764 {
  right: 64px;
}
.b764,
.b765,
.b766,
.b767 {
  position: absolute;
  top: 28px;
  line-height: 28px;
}
.b765 {
  right: 421px;
}
.b766,
.b767 {
  left: calc(50% - 136px);
}
.b767 {
  left: calc(50% - 648px);
}
.parent185,
.parent186,
.parent187,
.parent188 {
  position: absolute;
  left: 248px;
  box-sizing: border-box;
  width: 1424px;
  overflow: hidden;
}
.parent185 {
  top: 601px;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  height: 84px;
  text-align: left;
}
.parent186,
.parent187,
.parent188 {
  top: 1181px;
  border-bottom: 1px solid #000;
  height: 248px;
}
.parent187,
.parent188 {
  top: 1429px;
}
.parent188 {
  top: 1677px;
  border-bottom: 2px solid #000;
}
.b783 {
  position: absolute;
  top: 251px;
  left: 938px;
  font-size: 16px;
  line-height: 22.4px;
}
.group-child278,
.mynoteordered-item {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child278 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b784 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent173 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon117 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b785 {
  position: relative;
  line-height: 33px;
}
.frame-child226 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent189 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.mynoteordered {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
