.div1253 {
  position: absolute;
  top: 1381px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1254,
.frame-child252 {
  position: relative;
}
.frame-child252 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1257,
.parent198 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent198 {
  top: 1637px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div1257 {
  top: 1692px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance204 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon57 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent55 {
  position: absolute;
  top: 1426px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.mywritingqnalist-child {
  position: absolute;
  top: 1531px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official57,
.kakaotalk57 {
  position: absolute;
  top: 1528px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk57 {
  top: 1578px;
  left: 892px;
}
.group-child297 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child298 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk59 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent60 {
  position: absolute;
  top: 1575px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.cladance205,
.qa {
  position: absolute;
  text-align: left;
}
.cladance205 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.qa {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home56 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon168 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail113 {
  width: 56px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.right-16px-icon170 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pricing56 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon56,
.list56 {
  position: absolute;
  top: -4px;
}
.list56 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon56 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b830,
.breadcrumbs56 {
  position: absolute;
  text-align: left;
}
.breadcrumbs56 {
  top: 238px;
  left: 527px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.b830 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child136 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title82 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill103 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image99 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child138,
.rectangle-parent194 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child138 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title84,
.title85 {
  position: absolute;
  top: 102px;
  left: 43px;
  line-height: 17.6px;
}
.title85 {
  left: 36px;
}
.instance-parent15 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.b831 {
  position: absolute;
  top: 28px;
  right: 64px;
  line-height: 28px;
  text-align: center;
}
.b832 {
  right: 168px;
}
.b832,
.b833,
.b834,
.b835 {
  position: absolute;
  top: 28px;
  line-height: 28px;
}
.b833 {
  right: 327px;
}
.b834,
.b835 {
  left: calc(50% - 115px);
}
.b835 {
  left: calc(50% - 560px);
}
.box72,
.parent199 {
  position: absolute;
  box-sizing: border-box;
}
.box72 {
  top: 30px;
  left: 48px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #2787f5;
  width: 24px;
  height: 24px;
}
.parent199 {
  top: 601px;
  left: 248px;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 1424px;
  height: 84px;
  overflow: hidden;
  text-align: left;
}
.b836 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 30.5px);
  line-height: 22.4px;
}
.small-button117,
.small-button118 {
  position: absolute;
  top: 80px;
  right: 34px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.small-button118 {
  top: 16px;
}
.div1258 {
  position: absolute;
  right: 168px;
}
.div1258,
.div1259,
.xxxxxx60 {
  top: 56px;
  line-height: 28px;
  font-weight: 500;
}
.xxxxxx60 {
  position: absolute;
  right: 307px;
}
.div1259 {
  width: calc(100% - 689px);
  left: 236px;
  display: inline-block;
}
.box73,
.div1259,
.div1260 {
  position: absolute;
}
.div1260 {
  top: 56px;
  left: 153px;
  line-height: 28px;
  font-weight: 500;
}
.box73 {
  top: 58px;
  left: 48px;
  border-radius: 4px;
  border: 2px solid #e0efff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.small-button-parent18,
.small-button-parent19,
.small-button-parent20,
.small-button-parent21 {
  position: absolute;
  top: 685px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
  overflow: hidden;
}
.small-button-parent19,
.small-button-parent20,
.small-button-parent21 {
  top: 829px;
}
.small-button-parent20,
.small-button-parent21 {
  top: 973px;
}
.small-button-parent21 {
  top: 1117px;
  border-bottom: 2px solid #000;
}
.group-child299,
.mywritingqnalist-item {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child299 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b844 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent198 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon128 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b845 {
  position: relative;
  line-height: 33px;
}
.frame-child254 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent200 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.mywritingqnalist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
