.div1268 {
  position: absolute;
  top: 1381px;
  left: 0;
  background-color: #dbecfe;
  width: 1920px;
  height: 393px;
}
.div1269,
.frame-child256 {
  position: relative;
}
.frame-child256 {
  width: 1px;
  border-right: 1px solid #727272;
  box-sizing: border-box;
  height: 13px;
}
.div1272,
.parent201 {
  position: absolute;
  font-size: 17px;
  color: #727272;
}
.parent201 {
  top: 1637px;
  left: 817px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
  text-align: left;
}
.div1272 {
  top: 1692px;
  left: 542px;
  white-space: pre-wrap;
}
.cladance207 {
  position: absolute;
  top: 0;
  left: 83px;
  font-weight: 600;
}
.image-5-icon58 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 59px;
  object-fit: cover;
}
.cladance-parent56 {
  position: absolute;
  top: 1426px;
  left: 806px;
  width: 308px;
  height: 80px;
  cursor: pointer;
  font-size: 50px;
  color: #727272;
  font-family: MuseoModerno;
}
.mywritingreviewlist-child {
  position: absolute;
  top: 1531px;
  left: 826px;
  width: 36px;
  height: 36px;
}
.instagramcladance-official58,
.kakaotalk58 {
  position: absolute;
  top: 1528px;
  left: 870px;
  font-size: 16px;
  font-family: "Sans Serif Collection";
  color: #727272;
}
.kakaotalk58 {
  top: 1578px;
  left: 892px;
}
.group-child300 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #727272;
  width: 44px;
  height: 35px;
}
.group-child301 {
  position: absolute;
  top: 24px;
  left: 2px;
  width: 19.7px;
  height: 21.2px;
  object-fit: contain;
}
.talk60 {
  position: absolute;
  top: 1px;
  left: 6px;
}
.ellipse-parent61 {
  position: absolute;
  top: 1575px;
  left: 840px;
  width: 44px;
  height: 45.2px;
  font-size: 14px;
  color: #fff;
  font-family: "Sans Serif Collection";
}
.b847,
.cladance208 {
  position: absolute;
  text-align: left;
}
.cladance208 {
  top: 69px;
  left: 278px;
  font-family: "Nanum Pen";
  color: #fff;
}
.b847 {
  top: 206px;
  left: 200px;
  font-size: 50px;
  line-height: 55px;
}
.home57 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.right-16px-icon171 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.detail115 {
  width: 56px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.right-16px-icon173 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pricing57 {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: #2787f5;
}
.home-icon57,
.list57 {
  position: absolute;
  top: -4px;
}
.list57 {
  left: 41px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 8px;
}
.home-icon57 {
  left: -4px;
  width: 33px;
  height: 28px;
}
.b848,
.breadcrumbs57 {
  position: absolute;
  text-align: left;
}
.breadcrumbs57 {
  top: 238px;
  left: 420px;
  width: 286px;
  height: 24px;
  color: #828282;
}
.b848 {
  top: 317px;
  left: 258px;
  font-size: 40px;
  line-height: 44px;
}
.instance-child140 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #dbecfe;
  width: 120px;
  height: 144px;
}
.title86 {
  position: absolute;
  top: 102px;
  left: 29px;
  line-height: 17.6px;
}
.image-fill107 {
  position: absolute;
  top: 24px;
  left: 48px;
  width: 24px;
  height: 24px;
}
.no-image103 {
  position: absolute;
  top: 56px;
  left: 24px;
  line-height: 22.4px;
  font-weight: 500;
  color: #2787f5;
}
.instance-child142,
.rectangle-parent199 {
  width: 120px;
  position: relative;
  height: 144px;
}
.instance-child142 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #94c5fa;
}
.title88,
.title89 {
  position: absolute;
  top: 102px;
  left: 43px;
  line-height: 17.6px;
}
.title89 {
  left: 36px;
}
.instance-parent16 {
  position: absolute;
  top: 393px;
  left: 248px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 32px;
  font-size: 16px;
}
.b849 {
  right: 64px;
  text-align: center;
}
.b849,
.b850,
.b851,
.b852 {
  position: absolute;
  top: 28px;
  line-height: 28px;
}
.b850 {
  right: 221px;
}
.b851,
.b852 {
  left: calc(50% - 62px);
}
.b852 {
  left: calc(50% - 560px);
}
.box77,
.parent202 {
  position: absolute;
  box-sizing: border-box;
}
.box77 {
  top: 30px;
  left: 48px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #2787f5;
  width: 24px;
  height: 24px;
}
.parent202 {
  top: 601px;
  left: 248px;
  background-color: #dbecfe;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 1424px;
  height: 84px;
  overflow: hidden;
  text-align: left;
}
.b853 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 30.5px);
  line-height: 22.4px;
}
.small-button125,
.small-button126 {
  position: absolute;
  top: 80px;
  right: 34px;
  border-radius: 8px;
  background-color: #2787f5;
  width: 97px;
  height: 48px;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.small-button126 {
  top: 16px;
}
.div1273,
.xxxxxx64 {
  top: 56px;
  line-height: 28px;
  font-weight: 500;
}
.xxxxxx64 {
  position: absolute;
  right: 200px;
}
.div1273 {
  width: calc(100% - 582px);
  left: 236px;
  display: inline-block;
}
.box78,
.div1273,
.div1274 {
  position: absolute;
}
.div1274 {
  top: 56px;
  left: 153px;
  line-height: 28px;
  font-weight: 500;
}
.box78 {
  top: 58px;
  left: 48px;
  border-radius: 4px;
  border: 2px solid #e0efff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.small-button-parent22,
.small-button-parent23,
.small-button-parent24,
.small-button-parent25 {
  position: absolute;
  top: 685px;
  left: 248px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 1424px;
  height: 144px;
  overflow: hidden;
}
.small-button-parent23,
.small-button-parent24,
.small-button-parent25 {
  top: 829px;
}
.small-button-parent24,
.small-button-parent25 {
  top: 973px;
}
.small-button-parent25 {
  top: 1117px;
  border-bottom: 2px solid #000;
}
.group-child302,
.mywritingreviewlist-item {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #fff;
  width: 1920px;
  height: 128px;
}
.group-child302 {
  top: 0;
  border-radius: 154px;
  background-color: #dbecfe;
  width: 142px;
  height: 47px;
}
.b861 {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 22.4px;
}
.rectangle-parent203 {
  position: absolute;
  top: 47px;
  left: 1714px;
  width: 142px;
  height: 47px;
  font-size: 16px;
}
.icon129 {
  position: absolute;
  top: 52px;
  left: 64px;
  width: 196px;
  height: 42px;
  object-fit: cover;
  cursor: pointer;
}
.b862 {
  position: relative;
  line-height: 33px;
}
.frame-child258 {
  width: 0;
  position: relative;
  height: 24px;
  object-fit: contain;
}
.parent203 {
  position: absolute;
  top: 53px;
  left: 928px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 30px;
  font-size: 30px;
}
.mywritingreviewlist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow-y: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: "Noto Sans KR";
}
